@page "/grid-checkbox"

@using Smart.Blazor.Demos.Data
@inject RandomDataService dataService

<style>
    body,
    html,
    app {
        height: 100%;
    }

    app {
        overflow: auto;
    }

    .content {
        height: calc(100% - 70px);
    }

    /* This is the CSS used in the demo */
    @@media only screen and (max-width: 700px) {
    	smart-grid {
    		width: 100%;
    	}
    }
</style>
<Example Name="Grid">
    <h1>Grid with Checkbox column</h1>

    @if (dataRecords == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <Grid DataSource="dataRecords">
            <Columns>
                <Column DataField="FirstName" Label="First Name"></Column>
                <Column DataField="LastName" Label="Last Name"></Column>
                <Column DataField="ProductName" Label="Product" Width="100"></Column>
                <Column DataField="Expired" Label="Expired" DataType="boolean" Template="@checkBoxEditor"></Column>
                <Column DataField="Quantity" Label="Quantity"></Column>
                <Column DataField="Price" Label="UnitPrice" DataType="number" CellsFormat="c2"></Column>
            </Columns>
        </Grid>
    }
</Example>

@code {
    string checkBoxEditor = "checkBox";
   
    private List<DataRecord> dataRecords;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        dataRecords = dataService.GenerateData(100);
    }
}
