@page "/grid-freeze-column"

@using Smart.Blazor.Demos.Data
@inject RandomDataService dataService

<style>
    body,
    html,
    app {
        height: 100%;
    }

    app {
        overflow: auto;
    }

    .content {
        height: calc(100% - 70px);
    }

    /* This is the CSS used in the demo */
    @@media only screen and (max-width: 700px) {
        smart-grid {
	    	width: 100%;
	    }
    }
</style>

    <p>This demo page shows how to freeze columns in the Grid web component.</p>

    @if (dataRecords == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <Grid DataSource="dataRecords">
            <Columns>
                <Column DataField="FirstName" Label="First Name" Width="200" Freeze="true"></Column>
                <Column DataField="LastName" Label="Last Name" Width="percentageWidth"></Column>
                <Column DataField="ProductName" Label="Product" Width="percentageWidth"></Column>
                <Column DataField="Quantity" Label="Quantity" DataType="number" Align="HorizontalAlignment.Right" CellsAlign="HorizontalAlignment.Right" Width="percentageWidth"></Column>
                <Column DataField="Price" Label="Unit Price" DataType="number" Align="HorizontalAlignment.Right" CellsAlign="HorizontalAlignment.Right" CellsFormat="c2" Width="percentageWidth"></Column>
                <Column DataField="Total" Label="Total" DataType="number" Align="HorizontalAlignment.Right" CellsAlign="HorizontalAlignment.Right" CellsFormat="c2" Width="percentageWidth"></Column>
            </Columns>
        </Grid>
    }


@code {
    private string percentageWidth = "25%";

    private List<DataRecord> dataRecords;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        dataRecords = dataService.GenerateData(3000);
    }
}
