@page "/chart-area-series-missing-points"

<style>
    smart-chart {
        width: 100%;
        max-width: 850px;
    }
</style>

<Example Name="Chart">
    <Chart @ref="chart" DataSource="sampleData" Animation="Animation.None" Caption="Area series with missing points" 
           Description="Sample area series with missing and invalid values" ShowLegend 
           Padding="new Padding() { Left = 5, Top = 5, Right = 15, Bottom = 5 }" ColorScheme="ChartColorScheme.Scheme30"
           TitlePadding="new Padding() { Left = 0, Top = 0, Right = 0, Bottom = 10 }" XAxis="xAxis" SeriesGroups="seriesGroups" />

    <br />
    <div class="options">
        <p>Select missing points display mode:</p>
        <DropDownList DataSource="missingPointsSource" SelectionMode="ListSelectionMode.One"
                      @bind-SelectedIndexes="selectedIndexes" OnChange="OnMissingPointsChange" />
    </div>
</Example>  

@code {
    Chart chart;

    string[] missingPointsSource = new string[] { "skip", "zero", "connect" };
    int[] selectedIndexes = new int[] { 0 };

    List<Dictionary<string, object>> sampleData = new List<Dictionary<string, object>>()
    {
        new Dictionary<string, object> { { "a", 25 }, { "b", 21 } },
        new Dictionary<string, object> { { "a", 28 }, { "b", 19 } },
        new Dictionary<string, object> { { "a", 35 }, { "b", null } },
        new Dictionary<string, object> { { "a", 29 }, { "b", null } },
        new Dictionary<string, object> { { "a", 38 }, { "b", 18 } },
        new Dictionary<string, object> { { "a", 36 }, { "b", 17 } },
        new Dictionary<string, object> { { "a", 31 }, { "b", 21 } }
    };

    ChartXAxis xAxis = new ChartXAxis()
    {
        Text = "x",
        ValuesOnTicks = true
    };

    List<ChartSeriesGroup> seriesGroups = new List<ChartSeriesGroup>()
    {
        new ChartSeriesGroup()
        {
            Type = ChartType.Area,
            ValueAxis = new ChartValueAxis()
            {
                Title = new ChartTitle() { Text = "Value<br>" }
            },
            Series = new List<ChartSeriesGroupSerie>()
            {
                new ChartSeriesGroupSerie()
                {
                    DataField = "a",
                    LineWidth = 2,
                    SymbolSize = 8,
                    SymbolType = ChartSymbolType.Circle,
                    Opacity = 0.8f
                },
                new ChartSeriesGroupSerie()
                {
                    DataField = "b",
                    EmptyPointsDisplay = ChartSeriesGroupSerieEmptyPointsDisplay.Skip,
                    LineWidth = 2,
                    SymbolSize = 8,
                    SymbolType = ChartSymbolType.Diamond,
                    Opacity = 0.9f
                }
            }
        }
    };

    private void OnMissingPointsChange(Event eventObj)
    {
        DropDownListChangeEventDetail args = eventObj["Detail"];

        switch (args.Value)
        {
            case "skip":
                (seriesGroups[0].Series as List<ChartSeriesGroupSerie>)[1].EmptyPointsDisplay = ChartSeriesGroupSerieEmptyPointsDisplay.Skip;
                break;
            case "zero":
                (seriesGroups[0].Series as List<ChartSeriesGroupSerie>)[1].EmptyPointsDisplay = ChartSeriesGroupSerieEmptyPointsDisplay.Zero;
                break;
            case "connect":
                (seriesGroups[0].Series as List<ChartSeriesGroupSerie>)[1].EmptyPointsDisplay = ChartSeriesGroupSerieEmptyPointsDisplay.Connect;
                break;
        }

        chart.Update();
    }
}
