@page "/pivottable-demo"
@using Smart.Blazor;

<Example Name="PivotTable">
    <h1>Pivot Table</h1>
    <p>
        This demo showcases some of the basic functionalities of the smart-pivot-table.
    </p>
    <PivotTable Columns="@columns" DataSource="offices"  GroupLayout="PivotTableGroupLayout.Classic"
    Selection="true" SelectionMode="PivotTableSelectionMode.Extended">
    </PivotTable>
</Example>

@code {
    class Office {
        public string Country { get; set; }
        public string City { get; set; }
        public string OfficeName { get; set; }
        public int Year { get; set; }
        public int Employees {get; set; }
        public double Revenue { get; set; }
    
        public Office(string country, string city, string officeName, int year, int emlpoyees, double revenue){
            Country = country;
            City = city;
            OfficeName = officeName;
            Year = year;
            Employees = emlpoyees;
            Revenue = revenue;
        }
    }
    Office[] offices = new Office[] 
    {
        new Office("USA", "New York", "New York Office #1", 2020, 20, 50000),
        new Office("USA", "New York", "New York  Office #2", 2020, 15, 55000),
        new Office("USA", "New York", "New York  Office #3", 2020, 25, 57000),
        new Office("USA", "New York", "New York  Office #4", 2020, 8, 39000),
        new Office("USA", "New York", "New York  Office #1", 2021, 22, 38500),
        new Office("USA", "New York", "New York  Office #2", 2021, 16, 42500),
        new Office("USA", "New York", "New York  Office #3", 2021, 8, 50500),
        new Office("USA", "New York", "New York  Office #4", 2021, 21, 36000),
        new Office("USA", "Los Angeles", "LA Office #1", 2020, 10, 20000),
        new Office("USA", "Los Angeles", "LA Office #2", 2020, 13, 31500),
        new Office("USA", "Los Angeles", "LA Office #3", 2020, 20, 40000),
        new Office("USA", "Los Angeles", "LA Office #1", 2021, 16, 37000),
        new Office("USA", "Los Angeles", "LA Office #2", 2021, 15, 35000),
        new Office("USA", "Los Angeles", "LA Office #3", 2021, 25, 50000),
        new Office("USA", "Texas", "Tex Office #1", 2020, 8, 15000),
        new Office("USA", "Texas", "Tex Office #1", 2021, 5, 8000),
        new Office("Germany", "Berlin", "Berlin Office #1", 2020, 15, 39000),
        new Office("Germany", "Berlin", "Berlin Office #2", 2020, 20, 50150),
        new Office("Germany", "Berlin", "Berlin Office #1", 2021, 16, 45500),
        new Office("Germany", "Berlin", "Berlin Office #2", 2021, 24, 59000),
        new Office("Germany", "Munich", "Munich Office #1", 2020, 12, 29000),
        new Office("Germany", "Munich", "Munich Office #1", 2021, 12, 29500),
        new Office("UK", "London", "UK Office #1", 2020, 30, 60000),
        new Office("UK", "London", "UK Office #2", 2020, 10, 40000),
        new Office("UK", "London", "UK Office #3", 2020, 9, 41000),
        new Office("UK", "London", "UK Office #1", 2021, 26, 58550),
        new Office("UK", "London", "UK Office #2", 2021, 12, 51000),
        new Office("UK", "London", "UK Office #3", 2021, 11, 39500),
    };
   List<PivotTableColumn> columns = new List<PivotTableColumn>()
    {
		new PivotTableColumn() {
			Label = "Country",
			DataField = "Country",
			DataType = PivotTableColumnDataType.String,
            AllowRowGroup = true,
			RowGroup = true
		},
		new PivotTableColumn() {
			Label = "City",
			DataField = "City",
			DataType = PivotTableColumnDataType.String,
			AllowRowGroup = true,
			RowGroup = true
		},
        new PivotTableColumn() {
			Label = "Office Name",
			DataField = "OfficeName",
            DataType = PivotTableColumnDataType.String,
			AllowRowGroup = true,
			RowGroup = true
		},
        new PivotTableColumn() {
			Label = "Year",
			DataField = "Year",
			Pivot = true,
			AllowPivot = true,
			DataType = PivotTableColumnDataType.Number
		},
		new PivotTableColumn() {
			Label = "Employees",
			DataField = "Employees",
			DataType = PivotTableColumnDataType.Number,
			Summary = PivotTableColumnSummary.Sum
		},
        new PivotTableColumn() {
			Label = "Revenue",
			DataField = "Revenue",
			DataType = PivotTableColumnDataType.Number,
			Summary = PivotTableColumnSummary.Sum,
            SummarySettings = new {
				prefix = "$",
				decimalPlaces = 2
			}
		}
	};
}