@page "/sign-up"

<style>
    .shadow-5, .hover-shadow-5:hover {
        box-shadow: 0 0 26px rgb(0 0 0 / 10%);
    }

    .smart-card-view smart-card, .card {
        border: 0;
    }

    .mb-5, .my-5 {
        margin-bottom: 1.5rem !important;
    }

    .mt-5, .my-5 {
        margin-top: 1.5rem !important;
    }

    .form-group {
        margin-bottom: 1rem;
    }
</style>

<Example Name="Pages">
    <div class="container">
        <div class="text-center my-5">
            <h2>Welcome!</h2>
            <p>Sign up for the best user experience</p>
        </div>

        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card shadow-5">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="d-block">Name</label>
                            <Input Class="w-100" Placeholder="Enter your name" />
                        </div>

                        <div class="form-group">
                            <label class="d-block">Company</label>
                            <Input Class="w-100" Placeholder="Enter your company name" />
                        </div>

                        <div class="form-group">
                            <label class="d-block">Email</label>
                            <Input Class="w-100" Placeholder="Enter your email" />
                        </div>

                        <div class="form-group">
                            <label class="d-block">Password</label>
                            <PasswordTextBox Class="w-100" Placeholder="Enter a password" />
                        </div>

                        <div class="text-center">
                            <Button Class="primary">Sign up</Button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Example>
