@page "/datetimepicker-binding"


    <DateTimePicker 
        @bind-Value = "@DateValue"
        CalendarButton="true" 
        DropDownPosition="DropDownPosition.Bottom"
        >
    </DateTimePicker>
    <br/>
    <h3>Time Value: @DateValue  </h3>


@code {
    public DateTime DateValue = DateTime.Now;

}