@page "/dropdownlist-binding"

@using Smart.Blazor.Demos.Data

     <DropDownList  @bind-SelectedValues="@DropDownListBoxValue" DataSource="Items">
    </DropDownList>
     <br/>
    <h3>DropDownList selected value: @DropDownListBoxValue[0] </h3>
@code {
     public string[] Items = new[]
    {
            "One",
            "Two",
            "Three",
            "Four"
        };

    public string[] DropDownListBoxValue=new string[] { "Three" };

}