@page "/bind-multiinput"

@using Smart.Blazor.Demos.Data
@inject WeatherForecastService ForecastService
	@if (forecasts == null)
	{
		<p><em>Loading...</em></p>
	}
	else
	{
		<h2>Forecasts Summary</h2>
		<MultiInput @bind-Value="@MultiInputValue" DropDownButtonPosition="DropDownButtonPosition.Right" DataSource="@summaries"></MultiInput>
        <br/>
        <h3>Input Value (Type words like - chilly, sweltering or warm): @MultiInputValue </h3>
    }
@code {

	string MultiInputValue = "";

	private WeatherForecast[] forecasts;
	private string[] summaries;
	protected override async Task OnInitializedAsync()
	{
		forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
		summaries = forecasts.Select(item => item.Summary).ToArray();
	}
}