@page "/tabs-selection-mode"

<style>
	/* This is the CSS used in the demo */
	smart-tabs {
		width: 60%;
		height:300px;
	}

	@@media only screen and (max-width: 700px) {
		smart-tabs {
			width: 100%;
		}
	}	
</style>


    <p>selectionMode: 'none'; Click the button to select another tab.</p>
    <Tabs @ref="tabs" class="demoTabsShort" SelectedIndex=3 SelectionMode="TabSelectionMode.None">
        <TabItem Label="TAB 1">Content 1</TabItem>
        <TabItem Label="TAB 2">Content 2</TabItem>
        <TabItem Label="TAB 3">Content 3</TabItem>
        <TabItem Label="TAB 4">Content 4</TabItem>
    </Tabs>

    <br /><br /><br />
    <p>selectionMode: 'click'</p>
    <Tabs class="demoTabsShort" SelectedIndex=0 SelectionMode="TabSelectionMode.Click">
        <TabItem Label="TAB 1">Content 1</TabItem>
        <TabItem Label="TAB 2">Content 2</TabItem> 
        <TabItem Label="TAB 3">Content 3</TabItem>
        <TabItem Label="TAB 4">Content 4</TabItem>
    </Tabs>

    <br /><br /><br />
    <p>selectionMode: 'dblclick'</p>
    <Tabs class="demoTabsShort" SelectedIndex=1 SelectionMode="TabSelectionMode.Dblclick">
        <TabItem Label="TAB 1">Content 1</TabItem>
        <TabItem Label="TAB 2">Content 2</TabItem>
        <TabItem Label="TAB 3">Content 3</TabItem>
        <TabItem Label="TAB 4">Content 4</TabItem>
    </Tabs>

    <br /><br /><br />
    <p>selectionMode: 'mouseenter'</p>
    <Tabs class="demoTabsShort" SelectedIndex=2 SelectionMode="TabSelectionMode.Mouseenter">
        <TabItem Label="TAB 1">Content 1</TabItem>
        <TabItem Label="TAB 2">Content 2</TabItem>
        <TabItem Label="TAB 3">Content 3</TabItem>
        <TabItem Label="TAB 4">Content 4</TabItem>
    </Tabs>

    <br /><br /><br /><br />
    <div class="options">
        <div class="caption">Settings</div>
        <div class="option">
            <Button class="demoButton" OnClick="OnClick">Select first tab</Button>
        </div>
    </div>


@code {
    Tabs tabs;

    private void OnClick()
    {
        tabs.Select(0);
    }
}
