@page "/ganttchart-nonworking-days"

@using Smart.Blazor.Demos.Data

<style>
    /* This is the CSS used in the demo */
    smart-gantt-chart {
        width: 90%;
        height: auto;
    }

    @@media (max-width: 700px)
    {
        smart-gantt-chart {
            width: 95%;
            margin-left: 2%;
        }
    }
</style>

<Example Name="GanttChart">
    <p>
        <b>NonworkingDays</b> colored in gray determine which days of the week are nonworking. Nonwokring days are ignored. This means that dropping a task in a nonworking day will add/remove slack time to it in order to recalculate the start/end date to a working date. Weekends are always colored in light blue.
    </p>

    <GanttChart DataSource="Records" View="GanttChartView.Week" NonworkingDays="nonworkingDays" />
</Example>

@code {
    int[] nonworkingDays = new int[] { 0, 1 };

    public List<GanttDataRecord> Records;

    protected override void OnInitialized()
    {
        Records = new List<GanttDataRecord>()
        {
            new GanttDataRecord()
            {
                Label = "Project 1",
                DateStart = "2020-02-10T12:30:00",
                DateEnd = "2020-02-20T3:59:00",
                Type = "project",
                Expanded = true,
                Connections = new List<Dictionary<string, int>>()
                {
                    new Dictionary<string, int>()
                    {
                        { "target", 1 }, { "type", 0 }
                    }
                },
                Tasks = new List<GanttDataRecord>()
                {
                    new GanttDataRecord()
                    {
                        Label = "Task 1.1",
                        DateStart = "2020-02-24",
                        DateEnd = "2020-02-27",
                        Type = "task",
                        Connections = new List<Dictionary<string, int>>()
                        {
                            new Dictionary<string, int>()
                            {
                                { "target", 2 }, { "type", 1 }
                            },
                            new Dictionary<string, int>()
                            {
                                { "target", 4 }, { "type", 1 }
                            }
                        }
                    },
                    new GanttDataRecord()
                    {
                        Label = "Task 1.2",
                        DateStart = "2020-2-19",
                        DateEnd = "2020-2-29",
                        Type = "task",
                        Connections = new List<Dictionary<string, int>>()
                        {
                            new Dictionary<string, int>()
                            {
                                { "target", 3 }, { "type", 1 }
                            }
                        }
                    }
                }
            },
            new GanttDataRecord()
            {
                Label = "Task 2",
                DateStart = "2020-02-21T15:30:00",
                DateEnd = "2020-03-2T15:30:00",
                Type = "task"
            },
            new GanttDataRecord()
            {
                Label = "Milestone 1",
                DateEnd = "2020-02-24",
                Type = "milestone",
                Connections = new List<Dictionary<string, int>>()
                {
                    new Dictionary<string, int>()
                    {
                        { "target", 5 }, { "type", 1 }
                    }
                }
            },
            new GanttDataRecord()
            {
                Label = "Task 3",
                DateStart = "2020-02-28",
                DateEnd = "2020-03-02T18:30:00",
                Progress = 50,
                Type = "task"
            }
        };
    }
}
