@page "/ganttchart-min-max-task-dates"

@using Smart.Blazor.Demos.Data

<style>
    /* This is the CSS used in the demo */
    smart-gantt-chart {
        height: auto;
    }
</style>

<Example Name="GanttChart">
    <p>
        <b>Description:</b> Task's have min/max date start/end set and min/max duration. Drag/Resize a Task to see it's limits.
    </p>

    <GanttChart DataSource="Records" />
</Example>

@code {
    public List<GanttDataRecord> Records;

    protected override void OnInitialized()
    {
        Records = new List<GanttDataRecord>()
        {
            new GanttDataRecord()
            {
                Type = "project",
                Label = "Project 1",
                MinDateStart = "2021-05-05",
                MaxDateStart = "2021-07-05",
                DateStart = "2021-05-10",
                DateEnd = "2021-12-10",
                MinDateEnd = "2021-12-1",
                MaxDateEnd = "2021-12-25",
                MinDuration = 24 * 24 * 60 * 60 * 1000, // 24 days in miliseconds

            },
            new GanttDataRecord()
            {
                Type = "task",
                Label = "Task 2",
                MinDateStart = "2021-09-02",
                DateStart = "2021-11-05",
                DateEnd = "2021-12-10",
                MaxDateEnd = "2021-11-15",
                MinDuration = 10 * 24 * 60 * 60 * 1000, // 10 days in miliseconds
                MaxDuration = 24 * 24 * 60 * 60 * 1000 // 24 days in miliseconds
            }
        };
    }
}
