@page "/ganttchart-simple-project-drag"

@using Smart.Blazor.Demos.Data

<style>
    /* This is the CSS used in the demo */
    smart-gantt-chart {
        height: 250px;
    }
</style>

<Example Name="GanttChart">
    <p>
        <b>Description:</b>
        Drag the Project task in order to drag the whole project along with it's sub-tasks.
    </p>

    <GanttChart DataSource="Records" />
</Example>

@code {   
    public List<GanttDataRecord> Records;

    protected override void OnInitialized()
    {
        Records = new List<GanttDataRecord>()
        {
            new GanttDataRecord()
            {
                // Non synchronized projects require dateStart/dateEnd like every other task
                Label = "Project 1",
                DateStart = "2020-06-25",
                DateEnd = "2021-04-28",
                DragProject = true,
                Expanded = true,
                Type = "project",
                Tasks = new List<GanttDataRecord>()
                {
                    new GanttDataRecord()
                    {
                        Label = "Task 1.1",
                        DateStart = "2020-09-10",
                        DateEnd = "2021-08-10",
                        Type = "task"
                    },
                    new GanttDataRecord()
                    {
                        Label = "Task 1.2",
                        DateStart = "2020-03-27",
                        DateEnd = "2021-06-10",
                        Type = "task"
                    },
                    new GanttDataRecord()
                    {
                        Label = "Milestone 1",
                        DateEnd = "2021-07-15",
                        Type = "milestone"
                    },
                    new GanttDataRecord()
                    {
                        Label = "Task 1.3",
                        DateStart = "2021-04-21",
                        DateEnd = "2021-10-15",
                        Type = "task"
                    }
                }
            }
        };
    }
}
