@page "/kanban-editable"

@using Smart.Blazor.Demos.Data
@inject RandomDataService dataService

<style>
    /* This is the CSS used in the demo */
    html,
    body,
    app-root,
    smart-kanban {
        width: 100% !important;
        height: 100% !important;
    }

    html,
    body {
        margin: 0;
    }
</style>

    <p>
        To edit the card's details -> double click on the kanban card itself.
        The Details Dialog opens automatically and here you can edit or change any of the card parameters.
    </p>

    @if (dataRecords == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <Kanban DataSource="dataRecords" Columns="@columns" Users="@users" 
                AddNewButton Collapsible Editable TaskActions TaskDue TaskProgress />
    }


@code {
    List<KanbanColumn> columns = new List<KanbanColumn>()
    {
        new KanbanColumn()
        {
            DataField = "ToDo",
            Label = "To do"
        },
        new KanbanColumn()
        {
            DataField = "InProgress",
            Label = "In progress"
        },
        new KanbanColumn()
        {
            DataField = "Testing",
            Label = "Testing"
        },
        new KanbanColumn()
        {
            DataField = "Done",
            Label = "Done"
        }
    };

    List<KanbanUser> users = new List<KanbanUser>()
    {
        new KanbanUser()
        {
            Id = 0,
            Name = "Andrew",
            Image = "https://www.htmlelements.com/demos/images/people/andrew.png"
        },
        new KanbanUser()
        {
            Id = 1,
            Name = "Anne",
            Image = "https://www.htmlelements.com/demos/images/people/anne.png"
        },
        new KanbanUser()
        {
            Id = 2,
            Name = "Janet",
            Image = "https://www.htmlelements.com/demos/images/people/janet.png"
        },
        new KanbanUser()
        {
            Id = 3,
            Name = "John",
            Image = "https://www.htmlelements.com/demos/images/people/john.png"
        },
        new KanbanUser()
        {
            Id = 4,
            Name = "Laura",
            Image = "https://www.htmlelements.com/demos/images/people/laura.png"
        }
    };

    private List<KanbanDataRecord> dataRecords;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        dataRecords = dataService.GenerateKanbanData();
    }
}