@page "/kanban-hierarchical-columns-tabs"

@using Smart.Blazor.Demos.Data
@inject RandomDataService dataService

<style>
  
    html,
    body {
        margin: 0;
    }
</style>
<Example Name="Kanban">
    @if (dataRecords == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <Kanban DataSource="dataRecords" Columns="@columns" Collapsible Hierarchy="KanbanHierarchy.Tabs"/>
    }
</Example>

@code {
    List<KanbanColumn> columns = new List<KanbanColumn>()
    {
        new KanbanColumn()
        {
            DataField = "ToDo",
            Label = "To do",
            IsCollapsed = true
        },
        new KanbanColumn()
        {
            DataField = "InProgress",
            Label = "In progress"
        },
        new KanbanColumn()
        {
            DataField = "Testing",
            Label = "Testing",
            Orientation = KanbanColumnOrientation.Horizontal,
            Columns = new List<KanbanColumn>()
            {
                new KanbanColumn()
                {
                    Label = "Manual testing",
                    DataField = "ManualTesting",
                    Selected = true,
                    Columns = new List<KanbanColumn>()
                    {
                        new KanbanColumn()
                        {
                            Label = "Desktop devices",
                            DataField = "Desktop"
                        },
                        new KanbanColumn()
                        {
                            Label = "Mobile devices",
                            DataField = "Mobile",
                            Selected = true
                        }
                    }
                },
                new KanbanColumn()
                {
                    Label = "Unit testing",
                    DataField = "UnitTesting"
                }
            }
        },
        new KanbanColumn()
        {
            DataField = "Done",
            Label = "Done"
        }
    };

    private List<KanbanDataRecord> dataRecords;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        dataRecords = dataService.GenerateKanbanHierarchicalData();
    }
}