@page "/"
@namespace Dashboard.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/smart/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/smart/styles/smart.default.css" />
    <script type="module" src="~/smart/modules/smart.blazor.js"></script>
    <script type="module" src="~/source-dev/modules/smart.grid.js"></script>
    <script type="module" src="~/source-dev/modules/smart.chart.js"></script>
    <script type="module" src="~/source-dev/modules/smart.tabs.js"></script>
    <script type="module" src="~/source-dev/modules/smart.accordion.js"></script>
    <script async src="js/highlight.pack.js"></script>
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
