@page "/combobox"

@using Smart.Blazor.Demos.Data
@inject WeatherForecastService ForecastService

<Example Name="ComboBox">
	@if (forecasts == null)
	{
		<p><em>Loading...</em></p>
	}
	else
	{
		<h2>Forecasts Summary</h2>
		<ComboBox SelectedIndexes="new int[] { 0 }">
			@foreach (var forecast in forecasts)
			{
				<ListItem Label="@forecast.Summary.Trim()"></ListItem>
			}
		</ComboBox>
	}
</Example>

@code {
	private WeatherForecast[] forecasts;

	protected override async Task OnInitializedAsync()
	{
		forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
	}
}