@page "/pager"

<Example Name="Pager">
	<div class="smart-demo-container">
		<div id="materialPagerContainer">
			<section>
				<div>
					<div class="module">
						<p>
							Smart.Pager provides navigation for paged information, typically used with
							a grid or table.
						</p>
					</div>
					<div class="module"></div>
				</div>
			</section>
			<section id="usage">
				<h2>Usage</h2>
				<div class="module">
					<h2>Navigation</h2>
					<p>User can navigate between pages and/or items via built-in optional buttons.</p>
				</div>
				<Pager ShowPrevNextNavigationButtons AutoEllipsis="PagerAutoEllipsis.Both"
					   ShowPageIndexSelectors PagesCount=20 PageIndexSelectors=10></Pager>
			</section>
		</div>
	</div>
</Example>

@code {

}
