@page "/passwordtextbox"

<Example Name="PasswordTextBox">
	<label>Please enter a name:</label><br />
	<TextBox Class="underlined"></TextBox><br />
	<label>Please enter a password:</label><br />
	<PasswordTextBox Class="underlined">></PasswordTextBox><br />
	<label>Please confirm the password:</label><br />
	<PasswordTextBox Class="underlined">></PasswordTextBox><br />
	<Button class="primary" OnClick="OnClick">Submit</Button>

	@if (submittted)
	{
		<p>Thank you for submitting your data.</p>
	}
</Example>


@code {
	private bool submittted = false;

	private async void OnClick(Event eventArgs)
	{
		submittted = true;
	}
}
