@page "/repeatbutton"

<h1>Counter</h1>

<p>Current count: @currentCount</p>
<Example Name="RepeatButton">
	<RepeatButton @onclick="IncrementCount">Click me</RepeatButton>
</Example>

@code {
	private int currentCount = 0;

	private void IncrementCount()
	{
		currentCount++;
	}
}
