@page "/sortable"

<Example Name="Sortable">
	<style>
		.square {
			width: 100px;
			height: 100px;
			border-radius: 20px;
			background-color: rebeccapurple;
			color: white;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin-right: 25px;
			font-family: var(--smart-font-family);
		}

		#square1 {
			background-color: #25A0DA;
		}

		#square2 {
			background-color: #309B46;
		}

		#square3 {
			background-color: #8EBC00;
		}

		#square4 {
			background-color: #FF7515;
		}

		#square5 {
			background-color: #FFAE00;
		}

		#square6 {
			background-color: #C07AF1;
		}
	</style>
	<div>
		<h3>My Workplace</h3>
		<Sortable id="sortable" Mode="Orientation.Horizontal" DragMode="SortableDragMode.Handle"
				  HandlePosition="SortableHandlePosition.Right">
			<div id="square1" class="square">
				<i class="material-icons">

					person

				</i>
				<div>Employees</div>
			</div>
			<div id="square2" class="square">
				<i class="material-icons">

					work_outline

				</i>
				<div>Projects</div>
			</div>
			<div id="square3" class="square">
				<i class="material-icons">

					attach_money

				</i>
				<div>Finance</div>
			</div>
			<div id="square4" class="square">
				<i class="material-icons">

					contact_mail

				</i>
				<div>Partnerships</div>
			</div>
			<div id="square5" class="square">
				<i class="material-icons">

					speaker_phone

				</i>
				<div>Connectivity</div>
			</div>
			<div id="square6" class="square">
				<i class="material-icons">

					location_on

				</i>
				<div>Travel</div>
			</div>
		</Sortable>
	</div>
</Example>

@code {

}
