@page "/table"

@using Smart.Blazor.Demos.Data
@using Smart.Blazor

@inject WeatherForecastService ForecastService

    <Example Name="Table">
        <h1>Weather forecast</h1>

        <p>This component demonstrates fetching data from a service.</p>

        @if (forecasts == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
    <Table SortMode="TableSortMode.One" Editing="true" Selection="true">
        <tr hidden>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
        @foreach (var forecast in forecasts)
        {
            <tr hidden>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>
        }
    </Table>
        }
    </Example>

    @code {
        private WeatherForecast[] forecasts;

        protected override async Task OnInitializedAsync()
        {
            forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
        }
    }
