@page "/tooltip"

<Example Name="Tooltip">
	<Button id="button">Button</Button>
	<Tooltip  id="tooltip" Selector="@buttonId" Arrow="true">This is a tooltip for Smart.Button</Tooltip>
</Example>

@code {
	private string buttonId = "button";
}
