@page "/accordion-basic"

    <h3>Accordion with single expand</h3>
    <Accordion>
        <AccordionItem Label="First Item">First Item Content.</AccordionItem>
        <AccordionItem Label="Second Item">Second Item Content.</AccordionItem>
        <AccordionItem Label="Third Item">Third Item Content.</AccordionItem>
        <AccordionItem Label="Fourth Item">Fourth Item Content.</AccordionItem>
    </Accordion>
    <h3>Accordion with multiple expand</h3>
    <Accordion ExpandMode="AccordionExpandMode.Multiple">
        <AccordionItem Label="First Item">First Item Content.</AccordionItem>
        <AccordionItem Label="Second Item">Second Item Content.</AccordionItem>
        <AccordionItem Label="Third Item">Third Item Content.</AccordionItem>
        <AccordionItem Label="Fourth Item">Fourth Item Content.</AccordionItem>
    </Accordion>


@code {

}
