@page "/form-basic"

	<Form id="profileForm">
		<FormGroup id="employee" Label="Employee" DataField="employee">
			<FormGroup DataField="name">
				<FormControl Label="Photo" ControlType="FormControlControlType.Template">
					<div><img width="100" src="https://htmlelements.com/demos/images/people/anne.png" /></div>
				</FormControl>
				<FormControl Info="Enter First Name" Required Placeholder="First Name" ControlType="FormControlControlType.Input" DataField="firstName" Label="First Name" Class="outlined"></FormControl>
				<FormControl Info="Enter Last Name" Required Placeholder="Last Name" ControlType="FormControlControlType.Input" DataField="lastName" Label="Last Name" Class="outlined"></FormControl>
			</FormGroup>
			<FormGroup Label="Details" DataField="details">
				<FormControl Placeholder="Company Name" Required ControlType="FormControlControlType.Input" DataField="company" Label="Company" Class="outlined"></FormControl>
				<FormControl Placeholder="Address" Required ControlType="FormControlControlType.Input" DataField="address" Label="Address" Class="outlined"></FormControl>
				<FormControl Placeholder="City" Required ControlType="FormControlControlType.Input" DataField="city" Label="City" Class="outlined"></FormControl>
				<FormControl Placeholder="State" Required ControlType="FormControlControlType.Input" DataField="state" Label="State" Class="outlined"></FormControl>
				<FormControl Placeholder="Zip / Postal Code" Required ControlType="FormControlControlType.Input" DataField="zip" Label="Zip / Postal Code" Class="outlined"></FormControl>
			</FormGroup>
			<FormGroup Columns="2">
				<FormControl LabelAlign="FormControlAlign.Right" ControlType="FormControlControlType.Submit" Label="Submit" Class="primary"></FormControl>
				<FormControl Align="FormControlAlign.Left" Action="FormControlAction.Reset" ControlType="FormControlControlType.Button" Label="Reset"></FormControl>
			</FormGroup>
		</FormGroup>
	</Form>


@code {

}
