@page "/repeatbutton-basic"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

	<RepeatButton @onclick="IncrementCount">Click me</RepeatButton>


@code {
	private int currentCount = 0;

	private void IncrementCount()
	{
		currentCount++;
	}
}
