@page "/scheduler"

@using Smart.Blazor.Demos.Data
@inject RandomDataService dataService

<style>
    body,
    html,
    app {
        height: 100%;
    }

    app {
        overflow: auto;
    }

    .content {
        height: calc(100% - 70px);
    }
</style>

    <h1>Scheduler</h1>

    <p>The Smart.Scheduler is a feature-complete Scheduler component.</p>


    @if (dataRecords == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {

        <Scheduler DateCurrent="dateCurrent" TimelineDayScale="SchedulerTimelineDayScale.HalfHour" Views="@views" View="SchedulerViewType.Week" DataSource="dataRecords" Style="width: 80%; height:60%; margin-bottom: 50px;">
        </Scheduler>
    }

   
@code {
    private List<SchedulerDataSource> dataRecords = new List<SchedulerDataSource>();
    private DateTime dateCurrent = new DateTime(2021, 1, 25);

    private IEnumerable<SchedulerViewType> views = new List<SchedulerViewType>()
    {
        SchedulerViewType.Day,
        SchedulerViewType.Week,
        SchedulerViewType.Month
    };

    protected override void OnInitialized()
    {
        base.OnInitialized();

        dataService.GenerateSchedulerData().ForEach((SchedulerDataRecord record) =>
        {
            SchedulerDataSource schedulerDataItem = new SchedulerDataSource()
            {
                Label = record.Label,
                DateStart = record.DateStart,
                DateEnd = record.DateEnd,
                BackgroundColor = record.BackgroundColor,
                AllDay = record.AllDay
            };

            dataRecords.Add(schedulerDataItem);
        });
    }
}