@page "/toast"

<Button OnClick="Open">Open Toast</Button>
<Toast @ref="@_toast"
       Position="ToastPosition.BottomRight"
       ShowCloseButton="true"
       Type="ToastType.Success">
    You have 1 new message!
</Toast>

@code {
    private Toast _toast;

    public void Open()
    {
        _toast.Open();
    }
}