@page "/toast"

<Button @onclick="Open">Open Toast</Button>
<Toast @ref="@_toast"
       Position="ToastPosition.TopRight"
       ShowCloseButton="true"
       Class="blink"
       Type="ToastType.Mail">
    You have 2 new messages.
</Toast>

@code {
    private Toast _toast;

    public async Task Open()
    {
        try
        {
            await _toast.Open("", "");
        }
        catch (Exception ex)
        {
        }
    }
}