@namespace Smart.Blazor
<div>

  <h2 id="AccordionItemProperties"><a id="AccordionItem_properties" href="javascript: void(0)" class="anchor"><strong>AccordionItem</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Arrow</td><td>AccordionItemArrow</td><td>AccordionItemArrow.Left</td><td>Sets or gets header's arrow position. If the value is 'none' the arrow is not shown.</td></tr>
      <tr><td>Content</td><td>string </td><td>&quot;&quot;</td><td>Sets or gets the content if the item.</td></tr>
      <tr><td>IsExpanded</td><td>bool</td><td>false</td><td>Sets or gets the expanded state.</td></tr>
      <tr><td>Focused</td><td>bool</td><td>false</td><td>Sets or gets the focus state.</td></tr>
      <tr><td>Label</td><td>string</td><td>&quot;&quot;</td><td>Sets or gets the label if the item.</td></tr>
  </table>
  <h2 id="AccordionItemEvents"><a id="AccordionItem_events" href="javascript: void(0)" class="anchor"><strong>AccordionItem</strong> Events</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Description</th><th>Event Detail</th></tr>
      <tr><td>OnCollapse</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the item is collapsed.</td><td>N/A</td></tr>
      <tr><td>Collapsed</td><td>event AccordionItemCollapsedEventHandler</td><td>This event is triggered when the item is collapsed.</td><td>AccordionItemCollapsedEventArgs</td></tr>
      <tr><td>OnExpand</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the item is expanded.</td><td>N/A</td></tr>
      <tr><td>Expanded</td><td>event AccordionItemExpandedEventHandler</td><td>This event is triggered when the item is expanded.</td><td>AccordionItemExpandedEventArgs</td></tr>
    </table>
</div>
