@namespace Smart.Blazor
<div>

  <h2 id="ButtonGroupProperties"><a id="ButtonGroup_properties" href="javascript: void(0)" class="anchor"><strong>ButtonGroup</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Animation</td><td>Animation</td><td>Animation.Advanced</td><td>Sets or gets the animation mode. Animation is disabled when the property is set to <strong>'none'</strong></td></tr>
      <tr><td>DataSource</td><td>object</td><td>[]</td><td>Determines the buttons configuration. The dataSource can be an array of strings/numbers or objects where the attributes represent the properties of a List Item. For example <b>label</b>, <b>value</b>. It can also be a callback that returns an Array of items as previously described.</td></tr>
      <tr><td>SelectionMode</td><td>ButtonGroupSelectionMode</td><td>ButtonGroupSelectionMode.One</td><td>Determines the selection mode for the element.</td></tr>
      <tr><td>Disabled</td><td>bool</td><td>false</td><td>Enables or disables the element. </td></tr>
      <tr><td>Locale</td><td>string</td><td>&quot;en&quot;</td><td>Sets or gets the language. Used in conjunction with the property <strong>messages</strong>. </td></tr>
      <tr><td>LocalizeFormatFunction</td><td>object</td><td>N/A</td><td>Callback used to customize the format of the messages that are returned from the Localization Module.</td></tr>
      <tr><td>Messages</td><td>object</td><td>N/A</td><td>Sets or gets an object specifying strings used in the widget that can be localized. Used in conjunction with the property <strong>locale</strong>. </td></tr>
      <tr><td>Name</td><td>string</td><td>&quot;&quot;</td><td>Sets or gets the name attribute for the element. Name is used when submiting HTML forms.</td></tr>
      <tr><td>Readonly</td><td>bool</td><td>false</td><td>If the custom element is readonly, it cannot be interacted with.</td></tr>
      <tr><td>RightToLeft</td><td>bool</td><td>false</td><td>Sets or gets the value indicating whether the element is aligned to support locales using right-to-left fonts.</td></tr>
      <tr><td>Theme</td><td>string</td><td>&quot;&quot;</td><td>Determines the theme. Theme defines the look of the element</td></tr>
      <tr><td>SelectedValues</td><td>string[]</td><td>new string[]{}</td><td>Sets or gets the button group's selected values. Represents an array of strings.</td></tr>
      <tr><td>SelectedIndexes</td><td>int[]</td><td>new int[]{}</td><td>Sets or gets the button group's selected indexes. Represents an array of numbers</td></tr>
      <tr><td>Unfocusable</td><td>bool</td><td>false</td><td>If is set to true, the element cannot be focused.</td></tr>
  </table>
  <h2 id="ButtonGroupMethods"><a id="ButtonGroup_methods" href="javascript: void(0)" class="anchor"><strong>ButtonGroup</strong> Methods</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Arguments</th><th>Description</th></tr>
      <tr><td>Select</td><td>void</td><td>object value</td><td>Selects/Unselects an item inside the element.</td></tr>
  </table>
  <h2 id="ButtonGroupEvents"><a id="ButtonGroup_events" href="javascript: void(0)" class="anchor"><strong>ButtonGroup</strong> Events</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Description</th><th>Event Detail</th></tr>
      <tr><td>OnChange</td><td>EventCallback&lt;Event&gt;</td><td>Change event is triggered when the selectedValues/selectedIndexes are changed.</td><td>N/A</td></tr>
      <tr><td>Changed</td><td>event ButtonGroupChangedEventHandler</td><td>Change event is triggered when the selectedValues/selectedIndexes are changed.</td><td>ButtonGroupChangedEventArgs</td></tr>
    </table>
</div>
