@namespace Smart.Blazor
<div>

  <h2 id="CarouselProperties"><a id="Carousel_properties" href="javascript: void(0)" class="anchor"><strong>Carousel</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Animation</td><td>Animation</td><td>Animation.Advanced</td><td>Sets or gets the animation mode. Animation is disabled when the property is set to <strong>'none'</strong></td></tr>
      <tr><td>AutoPlay</td><td>object</td><td>false</td><td>The items switch automatically if set to true or to a custom number(representing the timeout in milliseconds). This property works if <strong>slideShow</strong> property is enabled.</td></tr>
      <tr><td>DataSource</td><td>IEnumerable&lt;object&gt;</td><td>N/A</td><td>An array of objects. Each object defines an item. The following object properties are available: <ul><li>label - a string representing the label of the item.</li><li>content - a string representing the content of the item</li><li>image - a string representing a url link to an image.</li><li>HTMLcontent - a string representing some HTML structure taht will be generated inside the item.</li></ul></td></tr>
      <tr><td>Delay</td><td>int</td><td>200</td><td>Specifies the timeout before a slide changes when a navigation button is pressed. Navigation buttons are repeat buttons that will repeat the oepration after the delay is passed.</td></tr>
      <tr><td>Disabled</td><td>bool</td><td>false</td><td>Enables or disables the element.</td></tr>
      <tr><td>DisableItemClick</td><td>bool</td><td>false</td><td>Disabled the possibility to navigated to an item by clicking on item in <strong>displayMode 3d</strong>. By default users can navigate to items that are not currently active by clicking on them.</td></tr>
      <tr><td>DisplayMode</td><td>CarouselDisplayMode</td><td>CarouselDisplayMode.Default</td><td>Determines the display mode.</td></tr>
      <tr><td>HideArrows</td><td>bool</td><td>false</td><td>Hides the navigation buttons.</td></tr>
      <tr><td>HideIndicators</td><td>bool</td><td>false</td><td>Hides the slide indication panel that shows which item is currently in view (active item).</td></tr>
      <tr><td>IndicatorTemplate</td><td>object</td><td>N/A</td><td>Can be used to customize the slide indicator panel of the accordion. The property can be a string that represents the id of an HTMLTemplateElement in the DOM or it's direct reference.</td></tr>
      <tr><td>Interval</td><td>int</td><td>5000</td><td>Determines the interval (in milliseconds) between a slide transitions when <strong>slideShow</strong> is enabled.</td></tr>
      <tr><td>ItemTemplate</td><td>object</td><td>N/A</td><td>Used to completely customize the content of an item. The property can be a string that represents the id of an HTMLTemplateElement in the DOM or it's direct reference. The content of the template can contain property bindings that refer to the dataSource.</td></tr>
      <tr><td>Keyboard</td><td>bool</td><td>false</td><td>Activates/deactivates keyboard navigation. By default, items can not be navigated via keyboard</td></tr>
      <tr><td>Locale</td><td>string</td><td>&quot;en&quot;</td><td>Sets or gets the language. Used in conjunction with the property <strong>messages</strong>. </td></tr>
      <tr><td>LocalizeFormatFunction</td><td>object</td><td>N/A</td><td>Callback used to customize the format of the messages that are returned from the Localization Module.</td></tr>
      <tr><td>Loop</td><td>bool</td><td>false</td><td>Determines whether the the items should start over when the first or last item is reached.</td></tr>
      <tr><td>Messages</td><td>object</td><td>N/A</td><td>Sets or gets an object specifying strings used in the widget that can be localized. Used in conjunction with the property <strong>locale</strong>. </td></tr>
      <tr><td>Readonly</td><td>bool</td><td>false</td><td>If the element is readonly, users cannot interact with it.</td></tr>
      <tr><td>RightToLeft</td><td>bool</td><td>false</td><td>Sets or gets the value indicating whether the element is aligned to support locales using right-to-left fonts.</td></tr>
      <tr><td>SlideShow</td><td>bool</td><td>false</td><td>When <strong>slideShow</strong> property is set to true, the carousel changes the active slide automatically with a delay set in <strong>interval</strong> property.</td></tr>
      <tr><td>Swipe</td><td>bool</td><td>false</td><td>Enables or disables switching to the previous/next slide via swiping left/right. By default swiping is disabled.</td></tr>
      <tr><td>Theme</td><td>string</td><td>&quot;&quot;</td><td>Determines the theme. Theme defines the look of the element</td></tr>
      <tr><td>Unfocusable</td><td>bool</td><td>false</td><td>If is set to true, the element cannot be focused.</td></tr>
      <tr><td>Wheel</td><td>bool</td><td>false</td><td>Activates/deactivates slide navigation via mouse wheel. By default it's disabled.</td></tr>
  </table>
  <h2 id="CarouselMethods"><a id="Carousel_methods" href="javascript: void(0)" class="anchor"><strong>Carousel</strong> Methods</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Arguments</th><th>Description</th></tr>
      <tr><td>Next</td><td>void</td><td>N/A</td><td>Navigates to the next slide.</td></tr>
      <tr><td>Pause</td><td>void</td><td>N/A</td><td>Pauses the slide show if <strong>slideShow</strong> is enabled.</td></tr>
      <tr><td>Play</td><td>void</td><td>N/A</td><td>Starts the slide show if <strong>slideShow</strong> is enabled.</td></tr>
      <tr><td>Prev</td><td>void</td><td>N/A</td><td>Navigates to the previous slide.</td></tr>
      <tr><td>SlideTo</td><td>void</td><td>int index</td><td>Navigates to a specific slide with the given index.</td></tr>
  </table>
  <h2 id="CarouselEvents"><a id="Carousel_events" href="javascript: void(0)" class="anchor"><strong>Carousel</strong> Events</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Description</th><th>Event Detail</th></tr>
      <tr><td>OnChange</td><td>EventCallback&lt;Event&gt;</td><td>Triggered when the active ( in view ) slide is changed.</td><td>int index, dynamic previousIndex</td></tr>
      <tr><td>Changed</td><td>event CarouselChangedEventHandler</td><td>Triggered when the active ( in view ) slide is changed.</td><td>CarouselChangedEventArgs</td></tr>
      <tr><td>OnChanging</td><td>EventCallback&lt;Event&gt;</td><td>Triggered when the process of slide changing starts.</td><td>int index, dynamic previousIndex</td></tr>
      <tr><td>Changing</td><td>event CarouselChangingEventHandler</td><td>Triggered when the process of slide changing starts.</td><td>CarouselChangingEventArgs</td></tr>
      <tr><td>OnSwipeleft</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the user swipes to the left inside the Carousel.</td><td>N/A</td></tr>
      <tr><td>SwipedLeft</td><td>event CarouselSwipedLeftEventHandler</td><td>This event is triggered when the user swipes to the left inside the Carousel.</td><td>CarouselSwipedLeftEventArgs</td></tr>
      <tr><td>OnSwiperight</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the user swipes to the right inside the Carousel.</td><td>N/A</td></tr>
      <tr><td>SwipeRight</td><td>event CarouselSwipeRightEventHandler</td><td>This event is triggered when the user swipes to the right inside the Carousel.</td><td>CarouselSwipeRightEventArgs</td></tr>
    </table>
</div>
