@namespace Smart.Blazor
<div>

  <h2 id="CheckBoxProperties"><a id="CheckBox_properties" href="javascript: void(0)" class="anchor"><strong>CheckBox</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Animation</td><td>Animation</td><td>Animation.Advanced</td><td>Sets or gets the animation mode. Animation is disabled when the property is set to <strong>'none'</strong></td></tr>
      <tr><td>Checked</td><td>bool</td><td>false</td><td>Sets or gets the checked state. </td></tr>
      <tr><td>CheckMode</td><td>CheckMode</td><td>CheckMode.Both</td><td>Determines which part of the element can be used to toggle it.</td></tr>
      <tr><td>ClickMode</td><td>ClickMode</td><td>ClickMode.Release</td><td>Sets the click mode of the checkbox.</td></tr>
      <tr><td>Disabled</td><td>bool</td><td>false</td><td>Enables or disables the checkbox. </td></tr>
      <tr><td>InnerHTML</td><td>string</td><td>&quot;&quot;</td><td>Sets or gets the elements's innerHTML.</td></tr>
      <tr><td>Locale</td><td>string</td><td>&quot;en&quot;</td><td>Sets or gets the language. Used in conjunction with the property <strong>messages</strong>. </td></tr>
      <tr><td>LocalizeFormatFunction</td><td>object</td><td>N/A</td><td>Callback used to customize the format of the messages that are returned from the Localization Module.</td></tr>
      <tr><td>Messages</td><td>object</td><td>N/A</td><td>Sets or gets an object specifying strings used in the widget that can be localized. Used in conjunction with the property <strong>locale</strong>. </td></tr>
      <tr><td>Name</td><td>string</td><td>&quot;&quot;</td><td>Sets or gets the name attribute for the element. Name is used when submiting HTML forms.</td></tr>
      <tr><td>Readonly</td><td>bool</td><td>false</td><td>If the element is readonly, users cannot interact with it.</td></tr>
      <tr><td>RightToLeft</td><td>bool</td><td>false</td><td>Sets or gets the value indicating whether the element is aligned to support locales using right-to-left fonts.</td></tr>
      <tr><td>Unfocusable</td><td>bool</td><td>false</td><td>If is set to true, the element cannot be focused.</td></tr>
      <tr><td>Theme</td><td>string</td><td>&quot;&quot;</td><td>Determines the theme. Theme defines the look of the element</td></tr>
      <tr><td>Value</td><td>string</td><td>&quot;&quot;</td><td>Sets or gets the value of the element.</td></tr>
  </table>
  <h2 id="CheckBoxEvents"><a id="CheckBox_events" href="javascript: void(0)" class="anchor"><strong>CheckBox</strong> Events</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Description</th><th>Event Detail</th></tr>
      <tr><td>OnChange</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the widget is checked/unchecked.</td><td>dynamic value, dynamic oldValue, dynamic changeType</td></tr>
      <tr><td>Changed</td><td>event CheckBoxChangedEventHandler</td><td>This event is triggered when the widget is checked/unchecked.</td><td>CheckBoxChangedEventArgs</td></tr>
    </table>
</div>
