@namespace Smart.Blazor
<div>

  <h2 id="ChipProperties"><a id="Chip_properties" href="javascript: void(0)" class="anchor"><strong>Chip</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Animation</td><td>Animation</td><td>Animation.Advanced</td><td>Sets or gets the animation mode. Animation is disabled when the property is set to <strong>'none'</strong></td></tr>
      <tr><td>Avatar</td><td>string</td><td>&quot;null&quot;</td><td>Sets a custom avatar that is positioned on the left side of the chip. The avatar can be an image(if the value is a url to an image), plain text or HTML.</td></tr>
      <tr><td>CloseButton</td><td>bool</td><td>false</td><td>Determines whether a close button is displayed on the right side of the element.</td></tr>
      <tr><td>Disabled</td><td>bool</td><td>false</td><td>Enables or disables the element. Disabled elements can not be interacted with.</td></tr>
      <tr><td>ItemTemplate</td><td>object</td><td>N/A</td><td>Sets a custom template for the chip. The template can be a string that represents the id of an HTMLTemplateElement inside the DOM or it's direct reference.</td></tr>
      <tr><td>Locale</td><td>string</td><td>&quot;en&quot;</td><td>Sets or gets the language. Used in conjunction with the property <strong>messages</strong>. </td></tr>
      <tr><td>LocalizeFormatFunction</td><td>object</td><td>N/A</td><td>Callback used to customize the format of the messages that are returned from the Localization Module.</td></tr>
      <tr><td>Messages</td><td>object</td><td>N/A</td><td>Sets or gets an object specifying strings used in the widget that can be localized. Used in conjunction with the property <strong>locale</strong>. </td></tr>
      <tr><td>Readonly</td><td>bool</td><td>false</td><td>If the element is readonly, users cannot interact with it.</td></tr>
      <tr><td>RightToLeft</td><td>bool</td><td>false</td><td>Sets or gets the value indicating whether the element is aligned to support locales using right-to-left fonts.</td></tr>
      <tr><td>Theme</td><td>string</td><td>&quot;&quot;</td><td>Determines the theme. Theme defines the look of the element</td></tr>
      <tr><td>Unfocusable</td><td>bool</td><td>false</td><td>If is set to true, the element cannot be focused.</td></tr>
      <tr><td>Value</td><td>string</td><td>&quot;&quot;</td><td>Sets the text content of the chip. The text inside the chip represents it's value. Value must be of type string. By default it's an empty string.</td></tr>
  </table>
  <h2 id="ChipMethods"><a id="Chip_methods" href="javascript: void(0)" class="anchor"><strong>Chip</strong> Methods</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Arguments</th><th>Description</th></tr>
      <tr><td>Close</td><td>void</td><td>N/A</td><td>Closes the chip and removes it from the DOM.</td></tr>
  </table>
  <h2 id="ChipEvents"><a id="Chip_events" href="javascript: void(0)" class="anchor"><strong>Chip</strong> Events</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Description</th><th>Event Detail</th></tr>
      <tr><td>OnClose</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the chip is closed.</td><td>dynamic value</td></tr>
      <tr><td>Closed</td><td>event ChipClosedEventHandler</td><td>This event is triggered when the chip is closed.</td><td>ChipClosedEventArgs</td></tr>
    </table>
</div>
