@namespace Smart.Blazor
<div>

  <h2 id="ColumnPanelProperties"><a id="ColumnPanel_properties" href="javascript: void(0)" class="anchor"><strong>ColumnPanel</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Animation</td><td>Animation</td><td>Animation.Advanced</td><td>Sets or gets the animation mode. Animation is disabled when the property is set to <strong>'none'</strong></td></tr>
      <tr><td>DataSource</td><td>IEnumerable&lt;IColumnPanelDataSource&gt;</td><td>N/A</td><td>Determines the data source that will be loaded to the column panel.</td></tr>
      <tr><td>Disabled</td><td>bool</td><td>false</td><td>Enables or disables the column panel.</td></tr>
      <tr><td>Locale</td><td>string</td><td>&quot;en&quot;</td><td>Sets or gets the language. Used in conjunction with the property <strong>messages</strong>.</td></tr>
      <tr><td>LocalizeFormatFunction</td><td>object</td><td>N/A</td><td>Callback used to customize the format of the messages that are returned from the Localization Module.</td></tr>
      <tr><td>Messages</td><td>object</td><td>N/A</td><td>Sets or gets an object specifying strings used in the widget that can be localized. Used in conjunction with the property <strong>locale</strong>. </td></tr>
      <tr><td>Readonly</td><td>bool</td><td>false</td><td>If the element is readonly, users cannot interact with it.</td></tr>
      <tr><td>RightToLeft</td><td>bool</td><td>false</td><td>Sets or gets the value indicating whether the element is aligned to support locales using right-to-left fonts.</td></tr>
      <tr><td>Unfocusable</td><td>bool</td><td>false</td><td>If is set to true, the element cannot be focused.</td></tr>
  </table>
  <h2 id="ColumnPanelEvents"><a id="ColumnPanel_events" href="javascript: void(0)" class="anchor"><strong>ColumnPanel</strong> Events</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Description</th><th>Event Detail</th></tr>
      <tr><td>OnApply</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the &quot;Apply&quot; button is clicked.</td><td>dynamic value, dynamic positionChanged</td></tr>
      <tr><td>Applyed</td><td>event ColumnPanelApplyedEventHandler</td><td>This event is triggered when the &quot;Apply&quot; button is clicked.</td><td>ColumnPanelApplyedEventArgs</td></tr>
      <tr><td>OnCancel</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the &quot;Cancel&quot; button is clicked.</td><td>N/A</td></tr>
      <tr><td>Canceled</td><td>event ColumnPanelCanceledEventHandler</td><td>This event is triggered when the &quot;Cancel&quot; button is clicked.</td><td>ColumnPanelCanceledEventArgs</td></tr>
    </table>
  <h2 id="ColumnPanelDataSourceProperties"><a id="ColumnPanelDataSource_properties" href="javascript: void(0)" class="anchor"><strong>ColumnPanelDataSource</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>DataField</td><td>string</td><td>&quot;&quot;</td><td>The column's data field.</td></tr>
      <tr><td>DisableToggle</td><td>bool</td><td>false</td><td>Determines whether the column's visibility can be toggled.</td></tr>
      <tr><td>Icon</td><td>string</td><td>&quot;&quot;</td><td>A valid CSS class name applied to the column's icon.</td></tr>
      <tr><td>Label</td><td>string</td><td>&quot;&quot;</td><td>The column's label.</td></tr>
      <tr><td>Visible</td><td>bool</td><td>true</td><td>Determines whether the column is visible in the panel.</td></tr>
    </table>
</div>
