@namespace Smart.Blazor
<div>

  <h2 id="DateInputProperties"><a id="DateInput_properties" href="javascript: void(0)" class="anchor"><strong>DateInput</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Animation</td><td>Animation</td><td>Animation.Advanced</td><td>Sets or gets the animation mode. Animation is disabled when the property is set to <b>'none'</b></td></tr>
      <tr><td>DateTimeFormat</td><td>DateTimeFormat</td><td>{ day: 'numeric', month: 'numeric', year: 'numeric' }</td><td>Determines the format of the dates displayed in the input. Accepts valid ECMAScript Internationalization API format. By default the date format is 'numeric'. The default value is: { day: 'numeric', month: 'numeric', year: 'numeric' }</td></tr>
      <tr><td>Disabled</td><td>bool</td><td>false</td><td>Enables or disables the element.</td></tr>
      <tr><td>DropDownButtonPosition</td><td>DropDownButtonPosition</td><td>DropDownButtonPosition.Right</td><td>Determines the position of the drop down button.</td></tr>
      <tr><td>DropDownHeight</td><td>object</td><td>auto</td><td>Sets the height of the drop down. By default it's set to 'auto'.</td></tr>
      <tr><td>DropDownWidth</td><td>object</td><td></td><td>Sets the width of the drop down. By default it's set to an empty string. In this case the width of the drop down is controlled by a CSS variable.</td></tr>
      <tr><td>InputPurpose</td><td>string</td><td>&quot;off&quot;</td><td>Sets the purpose of the input and what, if any, permission the user agent has to provide automated assistance in filling out the element's input when in a form, as well as guidance to the browser as to the type of information expected in the element. This value corresponds to the standard HTML <strong>autocomplete</strong> attribute and can be set to values such as <em>'on'</em>, <em>'name'</em>, <em>'organization'</em>, <em>'street-address'</em>, etc.</td></tr>
      <tr><td>Locale</td><td>string</td><td>&quot;en&quot;</td><td>Sets or gets the language. Used in conjunction with the property <strong>messages</strong>. </td></tr>
      <tr><td>LocalizeFormatFunction</td><td>object</td><td>N/A</td><td>Callback used to customize the format of the messages that are returned from the Localization Module.</td></tr>
      <tr><td>Max</td><td>object</td><td>new Date(2100, 1, 1)</td><td>Determines the max date for the Calendar displayed inside the popup.</td></tr>
      <tr><td>Messages</td><td>object</td><td>N/A</td><td>Sets or gets an object specifying strings used in the widget that can be localized. Used in conjunction with the property <strong>locale</strong>. </td></tr>
      <tr><td>Min</td><td>object</td><td>new Date(1900, 1, 1)</td><td>Determines the min date for the Calendar displayed inside the popup.</td></tr>
      <tr><td>Name</td><td>string</td><td>&quot;&quot;</td><td>Sets or gets the name attribute for the element. Name is used when submiting data inside an HTML form.</td></tr>
      <tr><td>IsOpened</td><td>bool</td><td>false</td><td>Determines whether the drop down is opened or not.</td></tr>
      <tr><td>Placeholder</td><td>string</td><td>&quot;&quot;</td><td>Determines the placeholder of the input.</td></tr>
      <tr><td>Readonly</td><td>bool</td><td>false</td><td>Determines whether ot not the user can enter text inside the input. if <b>dropDownButtonPosition</b> is set to 'left' or 'right' then <b>readonly</b> determines whether the element acts as a ComboBox or a DropDownList if a dataSource is provided.</td></tr>
      <tr><td>RightToLeft</td><td>bool</td><td>false</td><td>Sets or gets the value indicating whether the element is aligned to support locales using right-to-left fonts.</td></tr>
      <tr><td>Theme</td><td>string</td><td>&quot;&quot;</td><td>Determines the theme for the element. Themes define the look of the elements.</td></tr>
      <tr><td>Unfocusable</td><td>bool</td><td>false</td><td>If is set to true, the element cannot be focused.</td></tr>
      <tr><td>Value</td><td>object</td><td></td><td>Sets or gets the value of the element.</td></tr>
  </table>
  <h2 id="DateInputMethods"><a id="DateInput_methods" href="javascript: void(0)" class="anchor"><strong>DateInput</strong> Methods</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Arguments</th><th>Description</th></tr>
      <tr><td>Close</td><td>void</td><td>N/A</td><td>Closes the drop down.</td></tr>
      <tr><td>Open</td><td>void</td><td>N/A</td><td>Opens the drop down.</td></tr>
      <tr><td>Select</td><td>void</td><td>N/A</td><td>Selects the text inside the input or if it is <b>readonly</b> then the element is focused.</td></tr>
      <tr><td>GetFormattedValue</td><td>void</td><td>object value, object format</td><td>Returns the value in the desired format.</td></tr>
      <tr><td>GetValue</td><td>void</td><td>N/A</td><td>Returns the date of the input.</td></tr>
      <tr><td>SetValue</td><td>void</td><td>object value</td><td>Sets the date of the input.</td></tr>
  </table>
  <h2 id="DateInputEvents"><a id="DateInput_events" href="javascript: void(0)" class="anchor"><strong>DateInput</strong> Events</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Description</th><th>Event Detail</th></tr>
      <tr><td>OnChange</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the selection is changed.</td><td>string label, dynamic oldLabel, dynamic oldValue, dynamic value</td></tr>
      <tr><td>Changed</td><td>event DateInputChangedEventHandler</td><td>This event is triggered when the selection is changed.</td><td>DateInputChangedEventArgs</td></tr>
    </table>
  <h2 id="DateTimeFormatProperties"><a id="DateTimeFormat_properties" href="javascript: void(0)" class="anchor"><strong>DateTimeFormat</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Day</td><td>string</td><td>&quot;numeric&quot;</td><td>Day format.</td></tr>
      <tr><td>Month</td><td>string</td><td>&quot;numeric&quot;</td><td>Month format.</td></tr>
      <tr><td>Year</td><td>string</td><td>&quot;numeric&quot;</td><td>Year format.</td></tr>
    </table>
</div>
