@namespace Smart.Blazor
<div>

  <h2 id="FormGroupProperties"><a id="FormGroup_properties" href="javascript: void(0)" class="anchor"><strong>FormGroup</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Columns</td><td>int</td><td>1</td><td>Sets or gets the form columns.</td></tr>
      <tr><td>Controls</td><td>IEnumerable&lt;IFormGroupControl&gt;</td><td>N/A</td><td></td></tr>
      <tr><td>OnStatusChanges</td><td>object</td><td>N/A</td><td>Callback function for handling status changes</td></tr>
      <tr><td>OnValueChanges</td><td>object</td><td>N/A</td><td>Callback function for handling value changes</td></tr>
      <tr><td>LabelPosition</td><td>FormGroupLabelPosition</td><td>FormGroupLabelPosition.Left</td><td>Sets or Gets the labels position.</td></tr>
      <tr><td>Readonly</td><td>bool</td><td>false</td><td>Makes the form readonly.</td></tr>
      <tr><td>ShowColonAfterLabel</td><td>bool</td><td>false</td><td>Shows / hides the colon after the labels.</td></tr>
      <tr><td>ShowSummary</td><td>bool</td><td>true</td><td>Shows / hides validation summary.</td></tr>
      <tr><td>Value</td><td>object</td><td>N/A</td><td>Gets or Sets the Form value.</td></tr>
  </table>
  <h2 id="FormGroupMethods"><a id="FormGroup_methods" href="javascript: void(0)" class="anchor"><strong>FormGroup</strong> Methods</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Arguments</th><th>Description</th></tr>
      <tr><td>AddControl</td><td>void</td><td>object controlOptions</td><td>Adds a control to the Form.</td></tr>
      <tr><td>GetControl</td><td>Control</td><td>string dataField</td><td>Gets a control by its name(dataField).</td></tr>
      <tr><td>InsertControl</td><td>void</td><td>int index, object controlOptions</td><td>Inserts a control to the Form.</td></tr>
      <tr><td>RemoveControl</td><td>void</td><td>object controlOptions</td><td>Remove a control from the Form.</td></tr>
  </table>
  <h2 id="FormGroupControlProperties"><a id="FormGroupControl_properties" href="javascript: void(0)" class="anchor"><strong>FormGroupControl</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>AppendHTML</td><td>object</td><td>&quot;&quot;</td><td>HTML Content displayed after the Form Control</td></tr>
      <tr><td>ControlOptions</td><td>object</td><td>&quot;&quot;</td><td>JSON object with initialization properties of the UI component. Example: <em>{ dataSource: ['item 1', 'item 2', 'item 3'] }</em> will set the <strong>dataSource</strong> property of the Form control.</td></tr>
      <tr><td>ControlType</td><td>FormGroupControlControlType</td><td>FormGroupControlControlType.Input</td><td>The type of the control.</td></tr>
      <tr><td>Columns</td><td>int</td><td>1</td><td>Sets the Form Group columns.</td></tr>
      <tr><td>ColumnSpan</td><td>int</td><td>1</td><td>Sets the Form control column span.</td></tr>
      <tr><td>DataField</td><td>string</td><td>&quot;&quot;</td><td>Sets the Form control data field. The control's inner input's name is set to the <em>dataField</em> value and in the FormGroup it is accessible through the <em>dataField</em> value.</td></tr>
      <tr><td>Disabled</td><td>bool</td><td>false</td><td>Sets the Form control disabled mode.</td></tr>
      <tr><td>Dirty</td><td>bool</td><td>false</td><td>Gets whether the Form control is 'dirty' i.e its value is changed by the user.</td></tr>
      <tr><td>Info</td><td>string</td><td>&quot;&quot;</td><td>Gets or Sets the Form control's info icon's tooltip.</td></tr>
      <tr><td>Invalid</td><td>bool</td><td>false</td><td>Gets whether the Form control is invalid.</td></tr>
      <tr><td>Label</td><td>string</td><td>&quot;&quot;</td><td>Gets or Sets the Form control's label.</td></tr>
      <tr><td>LabelPosition</td><td>FormGroupControlLabelPosition</td><td>FormGroupControlLabelPosition.Left</td><td>Gets or Sets the Form control's label position.</td></tr>
      <tr><td>LabelOffset</td><td>int</td><td>10</td><td>Gets or Sets the offset between the label and the control.</td></tr>
      <tr><td>LabelAlign</td><td>string</td><td>&quot;left&quot;</td><td>FormGroup only(when <strong>controlType</strong> is set to <em>'group'</em>). Gets or Sets whether the navigation buttons are displayed. The property has effect when the <em>viewMode</em> property is set.</td></tr>
      <tr><td>NextButtonLabel</td><td>string</td><td>&quot;Next&quot;</td><td>FormGroup only(when <strong>controlType</strong> is set to <em>'group'</em>). Gets or Sets the next button label.</td></tr>
      <tr><td>BackButtonLabel</td><td>string</td><td>&quot;Back&quot;</td><td>FormGroup only(when <strong>controlType</strong> is set to <em>'group'</em>). Gets or Sets the back button label.</td></tr>
      <tr><td>PrependHTML</td><td>object</td><td>&quot;&quot;</td><td>HTML Content displayed before the Form Control</td></tr>
      <tr><td>Readonly</td><td>bool</td><td>false</td><td>Gets or Sets the Form control readonly mode.</td></tr>
      <tr><td>Untouched</td><td>bool</td><td>false</td><td>Gets whether the Form control is not touched by the user. This flag is changed usually on blur, after the user interacted with the Form control</td></tr>
      <tr><td>ShowColonAfterLabel</td><td>bool</td><td>false</td><td>Gets or Sets whether colon is displayed after the label.</td></tr>
      <tr><td>ShowButtons</td><td>bool</td><td>false</td><td>FormGroup only(when <strong>controlType</strong> is set to <em>'group'</em>). Gets or Sets whether the navigation buttons are displayed. The property has effect when the <em>viewMode</em> property is set.</td></tr>
      <tr><td>Value</td><td>object</td><td>null</td><td>Sets or Gets the Form control or Form group value.</td></tr>
      <tr><td>Valid</td><td>bool</td><td>false</td><td>Gets whether the Form control is valid.</td></tr>
      <tr><td>ValidationRules</td><td>IEnumerable&lt;object&gt;</td><td>new List&lt;object&gt;()</td><td>Validation rules array. Accepts any JQX.Validator rules.</td></tr>
      <tr><td>ViewMode</td><td>FormGroupControlViewMode</td><td>FormGroupControlViewMode.Null</td><td>FormGroup only(when <strong>controlType</strong> is set to <em>'group'</em>). Gets or Sets the form'group view mode.</td></tr>
    </table>
</div>
