@namespace Smart.Blazor
<div>

  <h2 id="GaugeProperties"><a id="Gauge_properties" href="javascript: void(0)" class="anchor"><strong>Gauge</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>AnalogDisplayType</td><td>GaugeAnalogDisplayType</td><td>GaugeAnalogDisplayType.Needle</td><td>Determines the type of gauge's indicator.</td></tr>
      <tr><td>Animation</td><td>Animation</td><td>Animation.Advanced</td><td>Sets or gets the animation mode. Animation is disabled when the property is set to <strong>'none'</strong></td></tr>
      <tr><td>AnimationDuration</td><td>int</td><td>300</td><td>Sets or gets gauge's animation duration. Applicable only when <strong>animation</strong> is not <em>'none'</em>.</td></tr>
      <tr><td>Coerce</td><td>bool</td><td>false</td><td>With the coerce property true, the value is set to the nearest value allowed by the interval property. </td></tr>
      <tr><td>CustomInterval</td><td>bool</td><td>false</td><td>Sets or gets whether custom ticks at (possibly) uneven interval will be plotted. The ticks to be plotted are defined with the property <strong>customTicks</strong>.</td></tr>
      <tr><td>CustomTicks</td><td>int[]</td><td>new int[]{}</td><td>If <strong>customInterval</strong> is enabled, sets a list of ticks to be plotted. If <strong>coerce</strong> is set to <em>true</em>, the value will snap to these ticks.</td></tr>
      <tr><td>DateLabelFormatString</td><td>string</td><td>&quot;d&quot;</td><td>Determines the date pattern of the labels when <strong>mode</strong> is <em>'date'</em>.</td></tr>
      <tr><td>DecimalSeparator</td><td>string</td><td>&quot;&quot;.&quot;&quot;</td><td>Sets or gets the char to use as the decimal separator in numeric values. </td></tr>
      <tr><td>DigitalDisplay</td><td>bool</td><td>false</td><td>Enables or disables the digital display of the element.</td></tr>
      <tr><td>DigitalDisplayPosition</td><td>GaugeDigitalDisplayPosition</td><td>GaugeDigitalDisplayPosition.Bottom</td><td>Sets the position of the digital display inside the element.</td></tr>
      <tr><td>Disabled</td><td>bool</td><td>false</td><td>Enables or disables the element.</td></tr>
      <tr><td>DrawNeedle</td><td>object</td><td>N/A</td><td>Callback function which allows rendering of a custom needle. Applicable only to analogDisplayType needle.</td></tr>
      <tr><td>EndAngle</td><td>int</td><td>210</td><td>Sets or gets Gauge's end angle. This property specifies the end of the gauge's scale and is measured in degrees.</td></tr>
      <tr><td>Interval</td><td>object</td><td>1</td><td>When cooerce property is true, all values coerce to the interval's value.</td></tr>
      <tr><td>Inverted</td><td>bool</td><td>false</td><td>Sets the direction of the gauge. If true - the positions of the gauge's start and end are switched.</td></tr>
      <tr><td>LabelFormatFunction</td><td>object</td><td>N/A</td><td>A callback function that can be used to format the values displayed inside the gauge labels.</td></tr>
      <tr><td>LabelsVisibility</td><td>LabelsVisibility</td><td>LabelsVisibility.All</td><td>Determines the visibility of the labels inside the element.</td></tr>
      <tr><td>Locale</td><td>string</td><td>&quot;en&quot;</td><td>Sets or gets the locale. Used in conjunction with the property <strong>messages</strong>. </td></tr>
      <tr><td>LocalizeFormatFunction</td><td>object</td><td>N/A</td><td>Callback used to customize the format of the messages that are returned from the Localization Module.</td></tr>
      <tr><td>LogarithmicScale</td><td>bool</td><td>false</td><td>Enables or disables the usage of logarithmic scale in the element.</td></tr>
      <tr><td>Max</td><td>object</td><td>100</td><td>Determines the maximum value for the scale of the element.</td></tr>
      <tr><td>MechanicalAction</td><td>DragMechanicalAction</td><td>DragMechanicalAction.SwitchWhileDragging</td><td>Determines when the value of the element is updated.</td></tr>
      <tr><td>Messages</td><td>object</td><td>N/A</td><td>Sets or gets an object specifying strings used in the widget that can be localized. Used in conjunction with the property <strong>locale</strong>. </td></tr>
      <tr><td>Min</td><td>object</td><td>0</td><td>Determines the minimum value for the scale of the element. </td></tr>
      <tr><td>Mode</td><td>ScaleMode</td><td>ScaleMode.Numeric</td><td>Determines whether the element works with numbers or dates.</td></tr>
      <tr><td>Name</td><td>string</td><td>&quot;&quot;</td><td>Sets or gets the element's name, which is used as a reference when the data is submitted.</td></tr>
      <tr><td>NeedlePosition</td><td>GaugeNeedlePosition</td><td>GaugeNeedlePosition.Center</td><td>Determines the position of the needle when <strong>analogDisplayType</strong> is <em>'needle'</em>. </td></tr>
      <tr><td>PrecisionDigits</td><td>int</td><td>N/A</td><td>Determines the number of digits after the decimal point. Applicable only when <strong>scaleType</strong> is <em>'floatingPoint'</em>.</td></tr>
      <tr><td>Ranges</td><td>object</td><td>N/A</td><td>This property represents an array of objects. Each object is a different range. The range is a colored area with specific size.</td></tr>
      <tr><td>Readonly</td><td>bool</td><td>false</td><td>When the element is read only the users cannot interact with it.</td></tr>
      <tr><td>RightToLeft</td><td>bool</td><td>false</td><td>Sets or gets the value indicating whether the element is aligned to support locales using right-to-left fonts. If enabled, the scale is inverted and the labels and digital display are oriented from right to left.</td></tr>
      <tr><td>ScalePosition</td><td>GaugeScalePosition</td><td>GaugeScalePosition.Inside</td><td>Determines the position of the scale in the element. </td></tr>
      <tr><td>ScaleType</td><td>ScaleType</td><td>ScaleType.FloatingPoint</td><td>Determines the type of the gauge's value and scale. </td></tr>
      <tr><td>ScientificNotation</td><td>bool</td><td>false</td><td>Enables or disables scientific notation.</td></tr>
      <tr><td>ShowRanges</td><td>bool</td><td>false</td><td>This property indicates whether the gauge ranges are visible or not.</td></tr>
      <tr><td>ShowUnit</td><td>bool</td><td>false</td><td>Enables or disables displaying of units.</td></tr>
      <tr><td>SignificantDigits</td><td>int</td><td>N/A</td><td>Determining how many significant digits are in a number. Applicable only when <strong>scaleType</strong> is <em>'integer'</em>.</td></tr>
      <tr><td>SizeMode</td><td>GaugeSizeMode</td><td>GaugeSizeMode.Circle</td><td>Determines how the Gauge will size.</td></tr>
      <tr><td>StartAngle</td><td>int</td><td>-30</td><td>Sets or gets gauge's start angle. This property specifies the beggining of the gauge's scale and is measured in degrees.</td></tr>
      <tr><td>Theme</td><td>string</td><td>&quot;&quot;</td><td>Sets or gets the element's visual theme.</td></tr>
      <tr><td>TicksPosition</td><td>TicksPosition</td><td>TicksPosition.Scale</td><td>Determines the position of the ticks in the Gauge.</td></tr>
      <tr><td>TicksVisibility</td><td>TicksVisibility</td><td>TicksVisibility.Minor</td><td>Determines the visibility of the ticks.</td></tr>
      <tr><td>Unfocusable</td><td>bool</td><td>false</td><td>Sets or gets if the element can be focused.</td></tr>
      <tr><td>Unit</td><td>string</td><td>&quot;kg&quot;</td><td>Sets or gets the name of unit used for the values on the scale of the element.</td></tr>
      <tr><td>Validation</td><td>Validation</td><td>Validation.Strict</td><td>Sets the value's validation by min/max.</td></tr>
      <tr><td>Value</td><td>object</td><td>0</td><td>Sets or gets the value of the element. The value can be a date only when <b>scaleType</b> is 'date'.</td></tr>
      <tr><td>WordLength</td><td>WordLength</td><td>WordLength.Int32</td><td>Sets or gets the word length. Applicable only when <strong>scaleType</strong> is <em>'integer'</em>.</td></tr>
  </table>
  <h2 id="GaugeMethods"><a id="Gauge_methods" href="javascript: void(0)" class="anchor"><strong>Gauge</strong> Methods</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Arguments</th><th>Description</th></tr>
      <tr><td>Focus</td><td>void</td><td>N/A</td><td>Focuses the element.</td></tr>
      <tr><td>GetOptimalSize</td><td>object</td><td>N/A</td><td>Gets the optimal size of the element (the current width and the height based on the plotted internal elements). </td></tr>
      <tr><td>Val</td><td>string</td><td>object value</td><td>Get/set the value of the gauge.</td></tr>
  </table>
  <h2 id="GaugeEvents"><a id="Gauge_events" href="javascript: void(0)" class="anchor"><strong>Gauge</strong> Events</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Description</th><th>Event Detail</th></tr>
      <tr><td>OnChange</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the value of the element is changed.</td><td>dynamic oldValue, dynamic value</td></tr>
      <tr><td>Changed</td><td>event GaugeChangedEventHandler</td><td>This event is triggered when the value of the element is changed.</td><td>GaugeChangedEventArgs</td></tr>
    </table>
</div>
