@namespace Smart.Blazor
<div>

  <h2 id="KanbanProperties"><a id="Kanban_properties" href="javascript: void(0)" class="anchor"><strong>Kanban</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>AddNewButton</td><td>bool</td><td>false</td><td>Toggles the visibility of the column buttons for adding tasks. A particular button can be disabled by setting <strong>addNewButton</strong> in the column's definition to <em>false</em>.</td></tr>
      <tr><td>AllowDrag</td><td>bool</td><td>true</td><td>Allows the dragging of tasks.</td></tr>
      <tr><td>AllowDrop</td><td>bool</td><td>true</td><td>Allows the dropping of tasks.</td></tr>
      <tr><td>Animation</td><td>Animation</td><td>Animation.Advanced</td><td>Sets or gets the animation mode. Animation is disabled when the property is set to <strong>'none'</strong></td></tr>
      <tr><td>AutoLoadState</td><td>bool</td><td>true</td><td>Enables or disables auto load state from the browser's localStorage. Information about tasks and their position and selected state, filtering, sorting, collapsed columns, as well as the values of the properties <strong>taskActions</strong>, <strong>taskComments</strong>, <strong>taskDue</strong>, <strong>taskPriority</strong>, <strong>taskProgress</strong>, <strong>taskTags</strong>, and <strong>taskUserIcon</strong> is loaded.</td></tr>
      <tr><td>AutoSaveState</td><td>bool</td><td>false</td><td>Enables or disables auto save state to the browser's localStorage. Information about tasks and their position and selected state, filtering, sorting, collapsed columns, as well as the values of the properties <strong>taskActions</strong>, <strong>taskComments</strong>, <strong>taskDue</strong>, <strong>taskPriority</strong>, <strong>taskProgress</strong>, <strong>taskTags</strong>, and <strong>taskUserIcon</strong> is saved.</td></tr>
      <tr><td>Collapsible</td><td>bool</td><td>false</td><td>Allows collapsing the card content.</td></tr>
      <tr><td>Columns</td><td>IEnumerable&lt;IKanbanColumn&gt;</td><td>N/A</td><td>Describes the columns properties.</td></tr>
      <tr><td>CurrentUser</td><td>object</td><td>false</td><td>Sets or gets the id of the current user. Has to correspond to the <strong>id</strong> of an item from the <strong>users</strong> property/array. Depending on the current user, different privileges are enabled. If no current user is set, privileges depend on the element's properties.</td></tr>
      <tr><td>DataSource</td><td>object</td><td>N/A</td><td>Determines the data source to be visualized in the kanban board.</td></tr>
      <tr><td>DragOffset</td><td>bool</td><td>auto</td><td>Determines the offset of the drag feedback element from the mouse cursor when dragging tasks. The first member of the array is the horizontal offset and the second one - the vertical offset. If set to <em>'auto'</em>, the offset is based on the mouse position when the dragging started.</td></tr>
      <tr><td>Editable</td><td>bool</td><td>false</td><td>Sets or gets whether tasks can be edited (including the assigning of users to tasks).</td></tr>
      <tr><td>FormatStringDate</td><td>string</td><td>&quot;d&quot;</td><td>Sets or gets the format string of the "Due date" label and the "Start date" and "Due date" editors.</td></tr>
      <tr><td>FormatStringTime</td><td>string</td><td>&quot;MMM d, HH:mm&quot;</td><td>Sets or gets the format string of comments time stamp.</td></tr>
      <tr><td>HeaderPosition</td><td>KanbanHeaderPosition</td><td>KanbanHeaderPosition.None</td><td>Sets or gets the header position. The header contains the Customize, Filter, Sort, and Search buttons.</td></tr>
      <tr><td>Hierarchy</td><td>KanbanHierarchy</td><td>KanbanHierarchy.Columns</td><td>Sets or gets the way column hierarchy is represented.</td></tr>
      <tr><td>Locale</td><td>string</td><td>&quot;en&quot;</td><td>Sets or gets the locale. Used in conjunction with the property <strong>messages</strong>.</td></tr>
      <tr><td>Messages</td><td>object</td><td>N/A</td><td>Sets or gets an object specifying strings used in the widget that can be localized. Used in conjunction with the property <strong>locale</strong>. </td></tr>
      <tr><td>SelectionMode</td><td>KanbanSelectionMode</td><td>KanbanSelectionMode.ZeroOrOne</td><td>Determines selection mode.</td></tr>
      <tr><td>Swimlanes</td><td>IEnumerable&lt;IKanbanSwimlane&gt;</td><td>N/A</td><td>Describes the swimlanes in the kanban board. Sub-columns are not applicable when swimlanes are present.</td></tr>
      <tr><td>SwimlanesFrom</td><td>int</td><td>0</td><td>Sets or gets the index of the column at which to start the swimlanes.</td></tr>
      <tr><td>SwimlanesTo</td><td>int</td><td>N/A</td><td>Sets or gets the index of the column at which to end the swimlanes. By default, swimlanes end at the last column.</td></tr>
      <tr><td>Tags</td><td>IEnumerable&lt;object&gt;</td><td>N/A</td><td>Sets or gets the allowed tags. If no tags are listed, all tags from the data source are allowed.</td></tr>
      <tr><td>TaskActions</td><td>bool</td><td>false</td><td>Toggles the visibility of the task actions icon.</td></tr>
      <tr><td>TaskComments</td><td>bool</td><td>false</td><td>Toggles the visibility of the task comments icon.</td></tr>
      <tr><td>TaskDue</td><td>bool</td><td>false</td><td>Toggles the visibility of the task due icon.</td></tr>
      <tr><td>TaskPosition</td><td>KanbanTaskPosition</td><td>KanbanTaskPosition.False</td><td>Sets or gets whether tasks can be shown in all levels of column hierarchy or only on leaf columns.</td></tr>
      <tr><td>TaskPriority</td><td>bool</td><td>true</td><td>Toggles the visibility of the task priority icon (shown when priority is low or high).</td></tr>
      <tr><td>TaskProgress</td><td>bool</td><td>false</td><td>Toggles the visibility of task progress bar and the completed sub-tasks label.</td></tr>
      <tr><td>TaskTags</td><td>bool</td><td>true</td><td>Toggles the visibility of task tags.</td></tr>
      <tr><td>TaskUserIcon</td><td>bool</td><td>true</td><td>Toggles the visibility of the task user icon.</td></tr>
      <tr><td>TextTemplate</td><td>object</td><td>N/A</td><td>Sets or gets a template to be applied to task text. Can be a string beginning with # and referencing the id of a template element on the page. Can also be a function that modifies the task text or the template itself. Finally, it can also be a string that will be parsed.</td></tr>
      <tr><td>UserList</td><td>bool</td><td>false</td><td>Determines whether the user list (as defined by the <strong>users</strong> property) will be shown when clicking the user icon. Only applicable if editable privileges are enabled.</td></tr>
      <tr><td>Users</td><td>IEnumerable&lt;IKanbanUser&gt;</td><td>N/A</td><td>Determines the users Kanban tasks can be assigned to and their characteristics and privileges.</td></tr>
  </table>
  <h2 id="KanbanMethods"><a id="Kanban_methods" href="javascript: void(0)" class="anchor"><strong>Kanban</strong> Methods</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Arguments</th><th>Description</th></tr>
      <tr><td>AddFilter</td><td>void</td><td>string[] filters, string operatorArg</td><td>Adds filtering</td></tr>
      <tr><td>AddSort</td><td>void</td><td>object dataFields, object orderBy</td><td>Adds sorting</td></tr>
      <tr><td>AddTask</td><td>void</td><td>object data</td><td>Adds a task to a Kanban column. If no data is specified, an empty task is added to the first column.</td></tr>
      <tr><td>BeginEdit</td><td>void</td><td>object  task</td><td>Begins an edit operation</td></tr>
      <tr><td>CancelEdit</td><td>void</td><td>N/A</td><td>Ends the current edit operation and discards changes</td></tr>
      <tr><td>ClosePanel</td><td>void</td><td>N/A</td><td>Closes any open header panel (drop down)</td></tr>
      <tr><td>Collapse</td><td>void</td><td>object column</td><td>Collapses a Kanban column.</td></tr>
      <tr><td>CopyTask</td><td>void</td><td>object  task</td><td>Creates a copy of a task in the same column.</td></tr>
      <tr><td>EndEdit</td><td>void</td><td>N/A</td><td>Ends the current edit operation and saves changes</td></tr>
      <tr><td>EnsureVisible</td><td>object</td><td>object  task</td><td>Makes sure a task is visible by scrolling to it. If succcessful, the method returns the HTML element of the task.</td></tr>
      <tr><td>Expand</td><td>void</td><td>object column</td><td>Expands a Kanban column.</td></tr>
      <tr><td>ExpandAll</td><td>void</td><td>N/A</td><td>Expands all Kanban columns.</td></tr>
      <tr><td>ExportData</td><td>object</td><td>string dataFormat, string fileName, Action&lt;object&gt; callback</td><td>Exports the Kanban's data.</td></tr>
      <tr><td>GetState</td><td>object</td><td>N/A</td><td>Gets the Kanban's state.</td></tr>
      <tr><td>LoadState</td><td>void</td><td>object state</td><td>Loads the Kanban's state.</td></tr>
      <tr><td>MoveTask</td><td>void</td><td>object  task, string newStatus</td><td>Moves a task to a different column.</td></tr>
      <tr><td>OpenCustomizePanel</td><td>void</td><td>N/A</td><td>Opens the "Customize tasks" header panel (drop down)</td></tr>
      <tr><td>OpenFilterPanel</td><td>void</td><td>N/A</td><td>Opens the "Filter" header panel (drop down)</td></tr>
      <tr><td>OpenSortPanel</td><td>void</td><td>N/A</td><td>Opens the "Sort" header panel (drop down)</td></tr>
      <tr><td>RemoveFilter</td><td>void</td><td>N/A</td><td>Removes filtering</td></tr>
      <tr><td>RemoveSort</td><td>void</td><td>N/A</td><td>Removes sorting</td></tr>
      <tr><td>RemoveTask</td><td>void</td><td>object  task, bool prompt</td><td>Removes a task.</td></tr>
      <tr><td>SaveState</td><td>void</td><td>N/A</td><td>Saves the Kanban's state to the browser's localStorage.</td></tr>
      <tr><td>UpdateTask</td><td>void</td><td>object  task, object newData</td><td>Updates a task.</td></tr>
  </table>
  <h2 id="KanbanEvents"><a id="Kanban_events" href="javascript: void(0)" class="anchor"><strong>Kanban</strong> Events</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Description</th><th>Event Detail</th></tr>
      <tr><td>OnChange</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when a task has been updated.</td><td>dynamic oldValue, dynamic task, dynamic value</td></tr>
      <tr><td>Changed</td><td>event KanbanChangedEventHandler</td><td>This event is triggered when a task has been updated.</td><td>KanbanChangedEventArgs</td></tr>
      <tr><td>OnClose</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the edit/prompt dialog is closed.</td><td>N/A</td></tr>
      <tr><td>Closed</td><td>event KanbanClosedEventHandler</td><td>This event is triggered when the edit/prompt dialog is closed.</td><td>KanbanClosedEventArgs</td></tr>
      <tr><td>OnClosing</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the edit/prompt dialog is about to be closed. The closing operation can be canceled by calling event.preventDefault() in the event handler function.</td><td>N/A</td></tr>
      <tr><td>Closing</td><td>event KanbanClosingEventHandler</td><td>This event is triggered when the edit/prompt dialog is about to be closed. The closing operation can be canceled by calling event.preventDefault() in the event handler function.</td><td>KanbanClosingEventArgs</td></tr>
      <tr><td>OnDragEnd</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when a task is dropped somewhere in the DOM. The dragging operation can be canceled by calling event.preventDefault() in the event handler function.</td><td>dynamic container, dynamic data, dynamic item, dynamic items, dynamic originalEvent, dynamic previousContainer, dynamic target</td></tr>
      <tr><td>DragEnded</td><td>event KanbanDragEndedEventHandler</td><td>This event is triggered when a task is dropped somewhere in the DOM. The dragging operation can be canceled by calling event.preventDefault() in the event handler function.</td><td>KanbanDragEndedEventArgs</td></tr>
      <tr><td>OnDragging</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the user is dragging a task.</td><td>dynamic data, dynamic item, dynamic items, dynamic originalEvent</td></tr>
      <tr><td>Dragging</td><td>event KanbanDraggingEventHandler</td><td>This event is triggered when the user is dragging a task.</td><td>KanbanDraggingEventArgs</td></tr>
      <tr><td>OnDragStart</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the user starts dragging task(s). The dragging operation can be canceled by calling event.preventDefault() in the event handler function.</td><td>dynamic container, dynamic data, dynamic item, dynamic items, dynamic originalEvent, dynamic previousContainer</td></tr>
      <tr><td>DragStarted</td><td>event KanbanDragStartedEventHandler</td><td>This event is triggered when the user starts dragging task(s). The dragging operation can be canceled by calling event.preventDefault() in the event handler function.</td><td>KanbanDragStartedEventArgs</td></tr>
      <tr><td>OnFilter</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when a filter has been applied.</td><td>N/A</td></tr>
      <tr><td>Filtered</td><td>event KanbanFilteredEventHandler</td><td>This event is triggered when a filter has been applied.</td><td>KanbanFilteredEventArgs</td></tr>
      <tr><td>OnOpen</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the edit/prompt dialog is opened.</td><td>N/A</td></tr>
      <tr><td>Opened</td><td>event KanbanOpenedEventHandler</td><td>This event is triggered when the edit/prompt dialog is opened.</td><td>KanbanOpenedEventArgs</td></tr>
      <tr><td>OnOpening</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the edit/prompt dialog is about to be opened. The opening operation can be canceled by calling event.preventDefault() in the event handler function.</td><td>dynamic comment, dynamic purpose, dynamic task</td></tr>
      <tr><td>Opening</td><td>event KanbanOpeningEventHandler</td><td>This event is triggered when the edit/prompt dialog is about to be opened. The opening operation can be canceled by calling event.preventDefault() in the event handler function.</td><td>KanbanOpeningEventArgs</td></tr>
      <tr><td>OnSort</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when sorting has been applied.</td><td>N/A</td></tr>
      <tr><td>Sorted</td><td>event KanbanSortedEventHandler</td><td>This event is triggered when sorting has been applied.</td><td>KanbanSortedEventArgs</td></tr>
    </table>
  <h2 id="KanbanColumnProperties"><a id="KanbanColumn_properties" href="javascript: void(0)" class="anchor"><strong>KanbanColumn</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>AddNewButton</td><td>bool</td><td>true</td><td>Sets or gets whether the column's button for adding tasks is visible. Works in conjunction with the Kanban property of the same name.</td></tr>
      <tr><td>IsCollapsed</td><td>bool</td><td>false</td><td>Sets or gets whether the column is collapsed.</td></tr>
      <tr><td>Collapsible</td><td>bool</td><td>true</td><td>Sets or gets whether the column is collapsible. Works in conjunction with the Kanban property of the same name.</td></tr>
      <tr><td>Columns</td><td>object</td><td>null</td><td>Sets or gets the column's sub-columns. Sub-columns has the same properties as top-level columns.</td></tr>
      <tr><td>DataField</td><td>string</td><td>&quot;&quot;</td><td>Sets or gets the column's data source bound field. Corresponds to the <strong>status</strong> field in the data source.</td></tr>
      <tr><td>Label</td><td>string</td><td>&quot;&quot;</td><td>Sets or gets the text displayed in the column's header.</td></tr>
      <tr><td>Orientation</td><td>KanbanColumnOrientation</td><td>KanbanColumnOrientation.Vertical</td><td>Sets or gets whether the tasks in the column flow vertically or horizontally.</td></tr>
      <tr><td>Selected</td><td>bool</td><td>false</td><td>Sets or gets whether the column is selected. Only applicable to sub-columns when <strong>hierarchy</strong> is <em>'tabs'</em>.</td></tr>
    </table>
  <h2 id="KanbanSwimlaneProperties"><a id="KanbanSwimlane_properties" href="javascript: void(0)" class="anchor"><strong>KanbanSwimlane</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Color</td><td>string</td><td>&quot;&quot;</td><td>The swimlane's color.</td></tr>
      <tr><td>DataField</td><td>string</td><td>&quot;&quot;</td><td>Sets or gets the swimlane's data source bound field. Corresponds to the <strong>swimlane</strong> field in the data source.</td></tr>
      <tr><td>Label</td><td>string</td><td>&quot;&quot;</td><td>Sets or gets the text displayed in the swimlane.</td></tr>
    </table>
  <h2 id="KanbanUserProperties"><a id="KanbanUser_properties" href="javascript: void(0)" class="anchor"><strong>KanbanUser</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>AllowAdd</td><td>bool</td><td>true</td><td>Sets whether the user has a privilege to add or copy tasks.</td></tr>
      <tr><td>AllowComment</td><td>bool</td><td>true</td><td>Sets whether the user has a privilege to add comments to tasks.</td></tr>
      <tr><td>AllowDrag</td><td>bool</td><td>true</td><td>Sets whether the user has a privilege to drag tasks. Works along with the property <strong>allowDrag</strong>.</td></tr>
      <tr><td>AllowEdit</td><td>bool</td><td>true</td><td>Sets whether the user has a privilege to edit tasks. Works along with the property <strong>editable</strong>.</td></tr>
      <tr><td>AllowRemove</td><td>bool</td><td>true</td><td>Sets whether the user has a privilege to remove tasks.</td></tr>
      <tr><td>Id</td><td>object</td><td>null</td><td>The user's unique ID. Corresponds to the <strong>userId</strong> field in the data source and the property <strong>currentUser</strong>.</td></tr>
      <tr><td>Image</td><td>string</td><td>&quot;&quot;</td><td>A url to an image representing the user.</td></tr>
      <tr><td>Name</td><td>string</td><td>&quot;&quot;</td><td>The user's name as it will appear in the Users list and "Assigned to" editor.</td></tr>
    </table>
</div>
