@namespace Smart.Blazor
<div>

  <h2 id="ListItemProperties"><a id="ListItem_properties" href="javascript: void(0)" class="anchor"><strong>ListItem</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>AlternationIndex</td><td>int</td><td>-1</td><td></td></tr>
      <tr><td>Color</td><td>string</td><td>&quot;&quot;</td><td></td></tr>
      <tr><td>DisplayMode</td><td>ListItemDisplayMode</td><td>ListItemDisplayMode.Plain</td><td></td></tr>
      <tr><td>Grouped</td><td>bool</td><td>false</td><td></td></tr>
      <tr><td>Selected</td><td>bool</td><td>false</td><td></td></tr>
      <tr><td>Value</td><td>string</td><td>&quot;&quot;</td><td></td></tr>
      <tr><td>Label</td><td>string</td><td>&quot;&quot;</td><td></td></tr>
      <tr><td>Details</td><td>string</td><td>&quot;&quot;</td><td></td></tr>
      <tr><td>Group</td><td>string</td><td>&quot;&quot;</td><td></td></tr>
      <tr><td>Hidden</td><td>bool</td><td>false</td><td></td></tr>
      <tr><td>Readonly</td><td>bool</td><td>false</td><td></td></tr>
  </table>
</div>
