@namespace Smart.Blazor
<div>

  <h2 id="ListItemsGroupProperties"><a id="ListItemsGroup_properties" href="javascript: void(0)" class="anchor"><strong>ListItemsGroup</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Label</td><td>string</td><td>&quot;&quot;</td><td></td></tr>
  </table>
</div>
