@namespace Smart.Blazor
<div>

  <h2 id="MenuItemsGroupProperties"><a id="MenuItemsGroup_properties" href="javascript: void(0)" class="anchor"><strong>MenuItemsGroup</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Checkable</td><td>bool</td><td>false</td><td></td></tr>
      <tr><td>Checked</td><td>bool</td><td>false</td><td></td></tr>
      <tr><td>CheckMode</td><td>MenuCheckMode</td><td>MenuCheckMode.Checkbox</td><td></td></tr>
      <tr><td>Disabled</td><td>bool</td><td>false</td><td>Enables or disables element.</td></tr>
      <tr><td>DropDownHeight</td><td>int</td><td>N/A</td><td></td></tr>
      <tr><td>IsExpanded</td><td>bool</td><td>false</td><td></td></tr>
      <tr><td>Label</td><td>object</td><td></td><td></td></tr>
      <tr><td>Level</td><td>int</td><td>N/A</td><td></td></tr>
      <tr><td>Separator</td><td>bool</td><td>false</td><td></td></tr>
      <tr><td>Value</td><td>object</td><td>N/A</td><td></td></tr>
  </table>
</div>
