@namespace Smart.Blazor
<div>

  <h2 id="NumericTextBoxProperties"><a id="NumericTextBox_properties" href="javascript: void(0)" class="anchor"><strong>NumericTextBox</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Animation</td><td>Animation</td><td>Animation.Advanced</td><td>Sets or gets the animation mode. Animation is disabled when the property is set to <strong>'none'</strong></td></tr>
      <tr><td>DecimalSeparator</td><td>string</td><td>&quot;.&quot;</td><td>Sets or gets the char to use as the decimal separator in numeric values. </td></tr>
      <tr><td>Disabled</td><td>bool</td><td>false</td><td>Enables or disables the jqxNumericTextBox. </td></tr>
      <tr><td>DropDownAppendTo</td><td>object</td><td>N/A</td><td>Sets the parent container of the radix dropdown.</td></tr>
      <tr><td>DropDownEnabled</td><td>bool</td><td>false</td><td>Determines if a dropdown will be displayed when the radix display button is clicked. The dropdown shows options for changing to the binary, octal, decimal, and hexadecimal numeral systems.</td></tr>
      <tr><td>EnableMouseWheelAction</td><td>bool</td><td>false</td><td>Enables or disables incrementing/decrementing the value using the mouse wheel in jqxNumericTextBox. </td></tr>
      <tr><td>Hint</td><td>string</td><td>&quot;&quot;</td><td>Sets additional helper text below the element. </td></tr>
      <tr><td>InputFormat</td><td>NumericTextBoxInputFormat</td><td>NumericTextBoxInputFormat.Integer</td><td>Sets or gets the input format of the widget. Setting this property dynamically can lead to precision loss. </td></tr>
      <tr><td>Label</td><td>string</td><td>&quot;&quot;</td><td>Sets a label above the element. </td></tr>
      <tr><td>LeadingZeros</td><td>bool</td><td>false</td><td>If this property is enabled, leading zeros are added (if necessary) to the binary and hexadecimal representations of a number based on <strong>wordLength</strong>.</td></tr>
      <tr><td>Locale</td><td>string</td><td>&quot;en&quot;</td><td>Sets or gets the language. Used in conjunction with the property <strong>messages</strong>. </td></tr>
      <tr><td>LocalizeFormatFunction</td><td>object</td><td>N/A</td><td>Callback, related to localization module. </td></tr>
      <tr><td>Max</td><td>object</td><td>N/A</td><td>Sets or gets the maximum value of the widget. </td></tr>
      <tr><td>Messages</td><td>object</td><td>N/A</td><td>Sets or gets an object specifying strings used in the widget that can be localized. Used in conjunction with the property <strong>locale</strong>. </td></tr>
      <tr><td>Min</td><td>object</td><td>N/A</td><td>Sets or gets the minimum value of the widget. </td></tr>
      <tr><td>Name</td><td>string</td><td>&quot;&quot;</td><td>The name of the control.</td></tr>
      <tr><td>Nullable</td><td>bool</td><td>false</td><td>Enables or disables the setting of the <strong>value</strong> property to <em>null</em> or empty string. </td></tr>
      <tr><td>IsOpened</td><td>bool</td><td>false</td><td>Sets or gets whether the radix dropdown is opened. Applicable only when <strong>dropDownEnabled</strong> is <em>true</em>. </td></tr>
      <tr><td>OutputFormatString</td><td>string</td><td>&quot;null&quot;</td><td>Sets or gets the pattern which the input value is displayed in when the element is not focused. All formats available to the NumberRenderer class can be applied as <strong>outputFormatString</strong>. </td></tr>
      <tr><td>Placeholder</td><td>string</td><td>&quot;&quot;</td><td>Determines the widget's place holder displayed when the widget's input is empty. </td></tr>
      <tr><td>PrecisionDigits</td><td>int</td><td>N/A</td><td>Determines the number of digits after the decimal point. Applicable when <strong>inputFormat</strong> is either <em>'floatingPoint'</em> or <em>'complex'</em>. </td></tr>
      <tr><td>Radix</td><td>NumericTextBoxRadix</td><td>NumericTextBoxRadix.10</td><td>Sets or gets the radix of the jqxNumericTextBox. The radix specifies the numeral system in which to display the widget's value. Applicable only when <strong>inputFormat</strong> is <em>'integer'</em>. </td></tr>
      <tr><td>RadixDisplay</td><td>bool</td><td>false</td><td>Enables or disables the radix display button of the jqxNumericTextBox. Applicable only when <strong>inputFormat</strong> is <em>'integer'</em>. </td></tr>
      <tr><td>RadixDisplayPosition</td><td>NumericTextBoxDisplayPosition</td><td>NumericTextBoxDisplayPosition.Left</td><td>Sets or gets the position of the radix display button of the jqxNumericTextBox. </td></tr>
      <tr><td>Readonly</td><td>bool</td><td>false</td><td>Sets or gets the readonly state of the jqxNumericTextBox. </td></tr>
      <tr><td>RightToLeft</td><td>bool</td><td>false</td><td>Sets or gets the value indicating whether the element is aligned to support locales using right-to-left fonts.</td></tr>
      <tr><td>ScientificNotation</td><td>bool</td><td>false</td><td>Enables or disables outputting the value in scientific notation. Applicable only when <strong>inputFormat</strong> is <em>'integer'</em>. </td></tr>
      <tr><td>ShowDropDownValues</td><td>bool</td><td>false</td><td>Determines whether to show the current value represented in all four numeral systems in the drop down.</td></tr>
      <tr><td>ShowUnit</td><td>bool</td><td>false</td><td>Enables or disables the visibility of the units. </td></tr>
      <tr><td>SignificantDigits</td><td>int</td><td>8</td><td>Determining how many significant digits are in a number. Applicable when <strong>inputFormat</strong> is either <em>'floatingPoint'</em> or <em>'complex'</em>. </td></tr>
      <tr><td>SpinButtons</td><td>bool</td><td>false</td><td>Enables or disables the visibility of the spin buttons. </td></tr>
      <tr><td>SpinButtonsDelay</td><td>int</td><td>75</td><td>Sets the delay between repeats of spin buttons in miliseconds. </td></tr>
      <tr><td>SpinButtonsInitialDelay</td><td>int</td><td>0</td><td>Sets a delay before the first repeat iteration of spin buttons in miliseconds. </td></tr>
      <tr><td>SpinButtonsPosition</td><td>NumericTextBoxDisplayPosition</td><td>NumericTextBoxDisplayPosition.Right</td><td>Sets or gets the position of the spin buttons of the jqxNumericTextBox. </td></tr>
      <tr><td>SpinButtonsStep</td><td>object</td><td>1</td><td>Sets or gets the increase/decrease step. </td></tr>
      <tr><td>Theme</td><td>string</td><td>&quot;&quot;</td><td>Determines the theme. Theme defines the look of the element</td></tr>
      <tr><td>Unfocusable</td><td>bool</td><td>false</td><td>If is set to true, the element cannot be focused.</td></tr>
      <tr><td>Unit</td><td>string</td><td>&quot;kg&quot;</td><td>Sets or gets the name of unit used in jqxNumericTextBox widget. </td></tr>
      <tr><td>Validation</td><td>Validation</td><td>Validation.Strict</td><td>Sets the value's validation by min/max. If <em>'strict'</em> is applied, the value is always validated by min and max. If <em>'interaction'</em> is applied, programmatic value changes are not coerced to min/max and if min/max are changed, resulting in the current value being out of range, the value is not coerced, and no <strong>change</strong> event is fired.</td></tr>
      <tr><td>Value</td><td>object</td><td>0</td><td>Sets or gets the value of the jqxNumericTextBox widget. </td></tr>
      <tr><td>WordLength</td><td>WordLength</td><td>WordLength.Int32</td><td>Sets or gets the word length. Applicable only when <strong>inputFormat</strong> is <em>'integer'</em>. If <strong>min</strong> and/or <strong>max</strong> are not set by default, they will be set automatically based on the specified word length. </td></tr>
  </table>
  <h2 id="NumericTextBoxMethods"><a id="NumericTextBox_methods" href="javascript: void(0)" class="anchor"><strong>NumericTextBox</strong> Methods</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Arguments</th><th>Description</th></tr>
      <tr><td>Focus</td><td>void</td><td>N/A</td><td>Focuses the NumericTextBox. </td></tr>
      <tr><td>Val</td><td>string</td><td>object value, bool suppressValidation</td><td>Get/set the value of the NumericTextBox. </td></tr>
  </table>
  <h2 id="NumericTextBoxEvents"><a id="NumericTextBox_events" href="javascript: void(0)" class="anchor"><strong>NumericTextBox</strong> Events</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Description</th><th>Event Detail</th></tr>
      <tr><td>OnChange</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the value is changed. </td><td>N/A</td></tr>
      <tr><td>Changed</td><td>event NumericTextBoxChangedEventHandler</td><td>This event is triggered when the value is changed. </td><td>NumericTextBoxChangedEventArgs</td></tr>
      <tr><td>OnChanging</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the value in the input is being changed via keypress or paste. </td><td>N/A</td></tr>
      <tr><td>Changing</td><td>event NumericTextBoxChangingEventHandler</td><td>This event is triggered when the value in the input is being changed via keypress or paste. </td><td>NumericTextBoxChangingEventArgs</td></tr>
      <tr><td>OnClose</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the dropdown is closed. </td><td>N/A</td></tr>
      <tr><td>Closed</td><td>event NumericTextBoxClosedEventHandler</td><td>This event is triggered when the dropdown is closed. </td><td>NumericTextBoxClosedEventArgs</td></tr>
      <tr><td>OnClosing</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the dropdown is about to be closed. The closing operation can be canceled by calling event.preventDefault() in the event handler function.</td><td>N/A</td></tr>
      <tr><td>Closing</td><td>event NumericTextBoxClosingEventHandler</td><td>This event is triggered when the dropdown is about to be closed. The closing operation can be canceled by calling event.preventDefault() in the event handler function.</td><td>NumericTextBoxClosingEventArgs</td></tr>
      <tr><td>OnOpen</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the dropdown is opened. </td><td>N/A</td></tr>
      <tr><td>Opened</td><td>event NumericTextBoxOpenedEventHandler</td><td>This event is triggered when the dropdown is opened. </td><td>NumericTextBoxOpenedEventArgs</td></tr>
      <tr><td>OnOpening</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the dropdown is about to be opened. The opening operation can be canceled by calling event.preventDefault() in the event handler function.</td><td>N/A</td></tr>
      <tr><td>Opening</td><td>event NumericTextBoxOpeningEventHandler</td><td>This event is triggered when the dropdown is about to be opened. The opening operation can be canceled by calling event.preventDefault() in the event handler function.</td><td>NumericTextBoxOpeningEventArgs</td></tr>
      <tr><td>OnRadixChange</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the radix is changed. </td><td>N/A</td></tr>
      <tr><td>RadixChanged</td><td>event NumericTextBoxRadixChangedEventHandler</td><td>This event is triggered when the radix is changed. </td><td>NumericTextBoxRadixChangedEventArgs</td></tr>
    </table>
</div>
