@namespace Smart.Blazor
<div>

  <h2 id="PasswordTextBoxProperties"><a id="PasswordTextBox_properties" href="javascript: void(0)" class="anchor"><strong>PasswordTextBox</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Animation</td><td>Animation</td><td>Animation.Advanced</td><td>Sets or gets the animation mode. Animation is disabled when the property is set to <strong>'none'</strong></td></tr>
      <tr><td>AutoFocus</td><td>bool</td><td>false</td><td>Specifies that the element should be focused when the page is loaded.</td></tr>
      <tr><td>Disabled</td><td>bool</td><td>false</td><td>Enables or disables the element.</td></tr>
      <tr><td>EnterKeyBehavior</td><td>EnterKeyBehavior</td><td>EnterKeyBehavior.Submit</td><td>Specifies the behavior on "Enter" key press. Default mode is "submit".</td></tr>
      <tr><td>Form</td><td>string</td><td>&quot;&quot;</td><td>The form that the element is associated with (its "form owner"). The value of the attribute must be the ID of a form element in the same document.</td></tr>
      <tr><td>Hint</td><td>object</td><td>N/A</td><td>Sets additional helper text below the element. Appears only when the element is focused.</td></tr>
      <tr><td>Label</td><td>string</td><td>&quot;&quot;</td><td>Sets label above the element. The label is displayed above the input and it's always visible.</td></tr>
      <tr><td>Locale</td><td>string</td><td>&quot;en&quot;</td><td>Sets or gets the language. Used in conjunction with the property <strong>messages</strong>. </td></tr>
      <tr><td>LocalizeFormatFunction</td><td>object</td><td>N/A</td><td>Callback used to customize the format of the messages that are returned from the Localization Module.</td></tr>
      <tr><td>MaxLength</td><td>int</td><td>N/A</td><td>Sets or gets the maximum number of characters that the user can enter.</td></tr>
      <tr><td>Messages</td><td>object</td><td>N/A</td><td>Sets an object with string values, related to the different states of passwords strength.</td></tr>
      <tr><td>MinLength</td><td>int</td><td>2</td><td>Sets or gets the minimum number of characters that the user can enter.</td></tr>
      <tr><td>Name</td><td>string</td><td>&quot;&quot;</td><td>Sets or gets the name attribute for the element. Name is used when submiting HTML forms.</td></tr>
      <tr><td>PasswordStrength</td><td>object</td><td>N/A</td><td>With this property the user can set a custom callback function that determines the password strength. The returned string from the function determines the how strong the current password is. The string should be one of the following: 'short', 'weak', 'far', 'good', 'strong'.</td></tr>
      <tr><td>Placeholder</td><td>string</td><td>&quot;&quot;</td><td>The placeholder text that is displayed when no value is applied to the element. </td></tr>
      <tr><td>Required</td><td>bool</td><td>false</td><td>Specifies that the user must fill in a value before submitting a form that contains the element.</td></tr>
      <tr><td>RightToLeft</td><td>bool</td><td>false</td><td>Sets or gets the value indicating whether the element is aligned to support locales using right-to-left fonts.</td></tr>
      <tr><td>SelectAllOnFocus</td><td>bool</td><td>false</td><td>Specifies whether the content of the input will be selected on focus.</td></tr>
      <tr><td>ShowPasswordIcon</td><td>bool</td><td>false</td><td>Determines whether the password icon is visible.</td></tr>
      <tr><td>ShowPasswordStrength</td><td>bool</td><td>false</td><td>Determines whether a tooltip which shows the password's strength will be shown.</td></tr>
      <tr><td>Theme</td><td>string</td><td>&quot;&quot;</td><td>Determines the theme. Theme defines the look of the element</td></tr>
      <tr><td>TooltipArrow</td><td>bool</td><td>false</td><td>Determines whether Tooltip's arrow will be shown or not.</td></tr>
      <tr><td>TooltipDelay</td><td>int</td><td>0</td><td>Determines the delay before the tooltip appears in miliseconds.</td></tr>
      <tr><td>TooltipPosition</td><td>PasswordTextBoxTooltipPosition</td><td>PasswordTextBoxTooltipPosition.Top</td><td>Determines the position of the tooltip.</td></tr>
      <tr><td>TooltipTemplate</td><td>string</td><td>&quot;null&quot;</td><td>Sets a custom template for the content of the tooltip.</td></tr>
      <tr><td>Unfocusable</td><td>bool</td><td>false</td><td>If true, the element cannot be focused.</td></tr>
      <tr><td>Value</td><td>string</td><td>&quot;&quot;</td><td>Sets or gets the value of the element. </td></tr>
  </table>
  <h2 id="PasswordTextBoxMethods"><a id="PasswordTextBox_methods" href="javascript: void(0)" class="anchor"><strong>PasswordTextBox</strong> Methods</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Arguments</th><th>Description</th></tr>
      <tr><td>Focus</td><td>void</td><td>N/A</td><td>Focuses the element.</td></tr>
      <tr><td>Reset</td><td>void</td><td>N/A</td><td>The method is used to reset input to it's initial value. </td></tr>
  </table>
  <h2 id="PasswordTextBoxEvents"><a id="PasswordTextBox_events" href="javascript: void(0)" class="anchor"><strong>PasswordTextBox</strong> Events</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Description</th><th>Event Detail</th></tr>
      <tr><td>OnChange</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the value of the element is changed.</td><td>dynamic oldValue, dynamic value</td></tr>
      <tr><td>Changed</td><td>event PasswordTextBoxChangedEventHandler</td><td>This event is triggered when the value of the element is changed.</td><td>PasswordTextBoxChangedEventArgs</td></tr>
    </table>
</div>
