@namespace Smart.Blazor
<div>

  <h2 id="PathProperties"><a id="Path_properties" href="javascript: void(0)" class="anchor"><strong>Path</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Animation</td><td>Animation</td><td>Animation.Advanced</td><td>Sets or gets the animation mode. Animation is disabled when the property is set to <strong>'none'</strong></td></tr>
      <tr><td>DataSource</td><td>object</td><td>N/A</td><td>Determines the data source for the item that will be displayed inside the drop down.</td></tr>
      <tr><td>Disabled</td><td>bool</td><td>false</td><td>Enables or disables the element.</td></tr>
      <tr><td>DisplayMember</td><td>string</td><td>&quot;&quot;</td><td>Sets or gets the displayMember. The displayMember specifies the name of an object property to display. The name is contained in the collection specified by the 'dataSource' property.</td></tr>
      <tr><td>DropDownAppendTo</td><td>object</td><td>N/A</td><td>Sets the parent container of the dropDown (the popup). Used when a CSS property of unknown parent is interfering with the visibility of the dropDown.</td></tr>
      <tr><td>DropDownHeight</td><td>object</td><td></td><td>Sets the height of the drop down. Default value of empty string means that CSS variables are used. This property should be used when the browser doesn't support CSS variables.</td></tr>
      <tr><td>DropDownMaxHeight</td><td>object</td><td></td><td>Sets the max height of the drop down. Default value of empty string means that CSS variables are used. This property should be used when the browser doesn't support CSS variables.</td></tr>
      <tr><td>DropDownMaxWidth</td><td>object</td><td></td><td>Sets the max width of the drop down. Default value of empty string means that CSS variables are used. This property should be used when the browser doesn't support CSS variables.</td></tr>
      <tr><td>DropDownMinHeight</td><td>object</td><td></td><td>Sets the min height of the drop down. Default value of empty string means that CSS variables are used. This property should be used when the browser doesn't support CSS variables.</td></tr>
      <tr><td>DropDownMinWidth</td><td>object</td><td></td><td>Sets the min width of the drop down. Default value of empty string means that CSS variables are used. This property should be used when the browser doesn't support CSS variables.</td></tr>
      <tr><td>DropDownOverlay</td><td>bool</td><td>false</td><td>If this property is enabled, when the element's dropdown is opened, a transparent overlay is positioned between the dropdown and the rest of the document.</td></tr>
      <tr><td>DropDownPosition</td><td>DropDownPosition</td><td>DropDownPosition.Auto</td><td>Determines the vertical position of the dropDown. 'Auto' means its automatically determined depending on the viewport size.</td></tr>
      <tr><td>DropDownWidth</td><td>object</td><td></td><td>Sets the width of the drop down. Default value of empty string means that CSS variables are used. This property should be used when the browser doesn't support CSS variables.</td></tr>
      <tr><td>Hint</td><td>string</td><td>&quot;&quot;</td><td>Sets additional helper text below the element. </td></tr>
      <tr><td>Indicator</td><td>bool</td><td>false</td><td>Sets the element as an indicator.</td></tr>
      <tr><td>Items</td><td>IEnumerable&lt;object&gt;</td><td></td><td>A getter that returns an array of all Path items.</td></tr>
      <tr><td>Label</td><td>string</td><td>&quot;&quot;</td><td>Sets label above the element. </td></tr>
      <tr><td>Locale</td><td>string</td><td>&quot;en&quot;</td><td>Sets or gets the language. Used in conjunction with the property <strong>messages</strong>. </td></tr>
      <tr><td>Messages</td><td>object</td><td>N/A</td><td>Sets or gets an object specifying strings used in the widget that can be localized. Used in conjunction with the property <strong>locale</strong>. </td></tr>
      <tr><td>Name</td><td>string</td><td>&quot;&quot;</td><td>The name of the control.</td></tr>
      <tr><td>IsOpened</td><td>bool</td><td>false</td><td>Determines whether the popup is opened or closed</td></tr>
      <tr><td>Placeholder</td><td>string</td><td>&quot;&quot;</td><td>Determines the element's placeholder.</td></tr>
      <tr><td>PathFormat</td><td>PathFormat</td><td>PathFormat.Windows</td><td>Determines the format of the path. Follows specific operation system criteria by changing the drive,folder separators. </td></tr>
      <tr><td>Readonly</td><td>bool</td><td>false</td><td>Disables user interaction with the element.</td></tr>
      <tr><td>RightToLeft</td><td>bool</td><td>false</td><td>Sets or gets the value indicating whether the element is aligned to support locales using right-to-left fonts.</td></tr>
      <tr><td>Theme</td><td>string</td><td>&quot;&quot;</td><td>Determines the theme. Theme defines the look of the element</td></tr>
      <tr><td>Unfocusable</td><td>bool</td><td>false</td><td>If is set to true, the element cannot be focused.</td></tr>
      <tr><td>Value</td><td>string</td><td>&quot;&quot;</td><td>The value of the Path control.</td></tr>
      <tr><td>ValueMember</td><td>string</td><td>&quot;&quot;</td><td>Determines the value member of an item. Stored as value in the item object.</td></tr>
      <tr><td>Wrap</td><td>bool</td><td>false</td><td>Determines whether or not the element wraps to a new line if overflows. If set the Path can be wrapped on multiple lines. </td></tr>
  </table>
  <h2 id="PathMethods"><a id="Path_methods" href="javascript: void(0)" class="anchor"><strong>Path</strong> Methods</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Arguments</th><th>Description</th></tr>
      <tr><td>Close</td><td>void</td><td>N/A</td><td>Closes the dropDown.</td></tr>
      <tr><td>Open</td><td>void</td><td>N/A</td><td>Opens the dropDown.</td></tr>
      <tr><td>SetToEmptyPath</td><td>void</td><td>N/A</td><td>Set's the Path element to 'emptyPath' state and changes the value to '////'.</td></tr>
      <tr><td>SetToNotAPath</td><td>void</td><td>N/A</td><td>Set's the Path element to 'notAPath' state and changes the value to '//'.</td></tr>
  </table>
  <h2 id="PathEvents"><a id="Path_events" href="javascript: void(0)" class="anchor"><strong>Path</strong> Events</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Description</th><th>Event Detail</th></tr>
      <tr><td>OnBrowseButtonClick</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when user clicks on the browse button.</td><td>N/A</td></tr>
      <tr><td>BrowseButtonClicked</td><td>event PathBrowseButtonClickedEventHandler</td><td>This event is triggered when user clicks on the browse button.</td><td>PathBrowseButtonClickedEventArgs</td></tr>
      <tr><td>OnChange</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the value is changed.</td><td>N/A</td></tr>
      <tr><td>Changed</td><td>event PathChangedEventHandler</td><td>This event is triggered when the value is changed.</td><td>PathChangedEventArgs</td></tr>
      <tr><td>OnClose</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the drop down is closed.</td><td>N/A</td></tr>
      <tr><td>Closed</td><td>event PathClosedEventHandler</td><td>This event is triggered when the drop down is closed.</td><td>PathClosedEventArgs</td></tr>
      <tr><td>OnClosing</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the drop down is closing.</td><td>N/A</td></tr>
      <tr><td>Closing</td><td>event PathClosingEventHandler</td><td>This event is triggered when the drop down is closing.</td><td>PathClosingEventArgs</td></tr>
      <tr><td>OnDropDownButtonClick</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when user clicks on the drop down button.</td><td>N/A</td></tr>
      <tr><td>DropDownButtonClicked</td><td>event PathDropDownButtonClickedEventHandler</td><td>This event is triggered when user clicks on the drop down button.</td><td>PathDropDownButtonClickedEventArgs</td></tr>
      <tr><td>OnItemClick</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when an item from the popup is clicked.</td><td>N/A</td></tr>
      <tr><td>ItemClicked</td><td>event PathItemClickedEventHandler</td><td>This event is triggered when an item from the popup is clicked.</td><td>PathItemClickedEventArgs</td></tr>
      <tr><td>OnOpen</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the drop down is opened.</td><td>N/A</td></tr>
      <tr><td>Opened</td><td>event PathOpenedEventHandler</td><td>This event is triggered when the drop down is opened.</td><td>PathOpenedEventArgs</td></tr>
      <tr><td>OnOpening</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the drop down is opening.</td><td>N/A</td></tr>
      <tr><td>Opening</td><td>event PathOpeningEventHandler</td><td>This event is triggered when the drop down is opening.</td><td>PathOpeningEventArgs</td></tr>
    </table>
</div>
