@namespace Smart.Blazor
<div>

  <h2 id="PivotTableProperties"><a id="PivotTable_properties" href="javascript: void(0)" class="anchor"><strong>PivotTable</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Animation</td><td>Animation</td><td>Animation.Advanced</td><td>Sets or gets the animation mode. Animation is disabled when the property is set to <strong>'none'</strong></td></tr>
      <tr><td>ColumnReorder</td><td>bool</td><td>false</td><td>Sets or gets whether the reordering of columns is enabled.</td></tr>
      <tr><td>Columns</td><td>IEnumerable&lt;IPivotTableColumn&gt;</td><td>N/A</td><td>Describes the columns of the PivotTable's original tabular data. Based on these settings and the data source, the actual columns of the PivotTable are dynamically generated.</td></tr>
      <tr><td>ColumnTotals</td><td>bool</td><td>false</td><td>Sets or gets whether to show total columns for each pivot data point. When enabled, all summary columns must have the same summary function set by which total columns are calculated.</td></tr>
      <tr><td>ColumnTotalsPosition</td><td>PivotTableColumnTotalsPosition</td><td>PivotTableColumnTotalsPosition.Near</td><td>Sets or gets the position of total columns (shown when <strong>columnTotals</strong> is enabled).</td></tr>
      <tr><td>ConditionalFormatting</td><td>IEnumerable&lt;IPivotTableConditionalFormatting&gt;</td><td>N/A</td><td>Sets or gets details about conditional formatting to be applied to the PivotTable's cells.</td></tr>
      <tr><td>DataSource</td><td>object</td><td></td><td>Determines the original tabular data source of the PivotTable.</td></tr>
      <tr><td>Designer</td><td>bool</td><td>false</td><td>Sets or gets whether to display the PivotTable's designer alongside the table itself. The designer allows for configuring column settings and applying filtering.</td></tr>
      <tr><td>DesignerPosition</td><td>PivotTableDesignerPosition</td><td>PivotTableDesignerPosition.Far</td><td>Sets or gets the position of the PivotTable's designer (shown when <strong>designer</strong> is enabled).</td></tr>
      <tr><td>Disabled</td><td>bool</td><td>false</td><td>Disables the interaction with the element.</td></tr>
      <tr><td>DrillDown</td><td>bool</td><td>false</td><td>If enabled, shows the original tabular data that has been aggregated in a PivotTable summary cell when the cell is double-clicked or F2 is pressed.</td></tr>
      <tr><td>FreezeHeader</td><td>bool</td><td>false</td><td>Sets or gets whether the PivotTable's column header is sticky/frozen.</td></tr>
      <tr><td>GetDefaultSummaryFunction</td><td>object</td><td>N/A</td><td>A callback function that returns the default summary function of a summary column when it is dynamically assigned as such (e.g. by drag-drop in the designer).</td></tr>
      <tr><td>GrandTotal</td><td>bool</td><td>false</td><td>Sets or gets whether to show a Grand total row aggregating the data of all rows.</td></tr>
      <tr><td>GroupLayout</td><td>PivotTableGroupLayout</td><td>PivotTableGroupLayout.Default</td><td>Sets or gets the way row nesting (based on <strong>rowGroup</strong> columns) is displayed.</td></tr>
      <tr><td>KeyboardNavigation</td><td>bool</td><td>false</td><td>Sets or gets whether navigation with the keyboard is enabled in the PivotTable.</td></tr>
      <tr><td>Locale</td><td>string</td><td>&quot;en&quot;</td><td>Sets or gets the language. Used in conjunction with the property <strong>messages</strong>. </td></tr>
      <tr><td>Messages</td><td>object</td><td>N/A</td><td>Sets or gets an object specifying strings used in the element that can be localized. Used in conjunction with the property <strong>locale</strong>. </td></tr>
      <tr><td>OnCellRender</td><td>object</td><td>N/A</td><td>A callback function executed each time a PivotTable cell is rendered.</td></tr>
      <tr><td>OnColumnRender</td><td>object</td><td>N/A</td><td>A callback function executed each time a PivotTable column header cell is rendered.</td></tr>
      <tr><td>OnInit</td><td>object</td><td>N/A</td><td>A callback function executed when the PivotTable is being initialized.</td></tr>
      <tr><td>RightToLeft</td><td>bool</td><td>false</td><td>Sets or gets the value indicating whether the element is aligned to support locales using right-to-left fonts.</td></tr>
      <tr><td>RowTotals</td><td>bool</td><td>false</td><td>Sets or gets whether to show row total columns for each summary column.</td></tr>
      <tr><td>RowTotalsPosition</td><td>PivotTableRowTotalsPosition</td><td>PivotTableRowTotalsPosition.Near</td><td>Sets or gets the position of row total columns (shown when <strong>rowTotals</strong> is enabled).</td></tr>
      <tr><td>Selection</td><td>bool</td><td>false</td><td>Sets or gets whether row selection (via checkboxes) is enabled.</td></tr>
      <tr><td>SelectionMode</td><td>PivotTableSelectionMode</td><td>PivotTableSelectionMode.Many</td><td>Sets or gets the selection mode. Only applicable when <strong>selection</strong> is enabled.</td></tr>
      <tr><td>SortMode</td><td>PivotTableSortMode</td><td>PivotTableSortMode.None</td><td>Determines the sorting mode of the PivotTable.</td></tr>
      <tr><td>Theme</td><td>string</td><td>&quot;&quot;</td><td>Determines the theme. Theme defines the look of the element</td></tr>
      <tr><td>Toolbar</td><td>bool</td><td>false</td><td>Sets or gets whether the PivotTable's toolbar is shown. It contains two breadcrumb components that allow the modification of the row group and pivot columns, as well as the "Conditional Formatting" and "Fields" buttons that open a dialog with additional settings.</td></tr>
      <tr><td>Tooltip</td><td>bool</td><td>false</td><td>Sets or gets whether when hovering a cell with truncated content, a tooltip with the full content will be shown.</td></tr>
  </table>
  <h2 id="PivotTableMethods"><a id="PivotTable_methods" href="javascript: void(0)" class="anchor"><strong>PivotTable</strong> Methods</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Arguments</th><th>Description</th></tr>
      <tr><td>AddFilter</td><td>void</td><td>string dataField, object filter</td><td>Adds a filter to a specific column.</td></tr>
      <tr><td>ClearFilters</td><td>void</td><td>N/A</td><td>Clears applied filters.</td></tr>
      <tr><td>ClearSelection</td><td>void</td><td>N/A</td><td>Clears selection.</td></tr>
      <tr><td>ClearSort</td><td>void</td><td>N/A</td><td>Clears the PivotTable sorting.</td></tr>
      <tr><td>CollapseAllRows</td><td>void</td><td>N/A</td><td>Collapses all rows (when multiple row groups are applied).</td></tr>
      <tr><td>CollapseRow</td><td>void</td><td>object rowId</td><td>Collapses a row (when multiple row groups are applied).</td></tr>
      <tr><td>ExpandAllRows</td><td>void</td><td>N/A</td><td>Expands all rows (when multiple row groups are applied).</td></tr>
      <tr><td>ExpandRow</td><td>void</td><td>object rowId</td><td>Expands a row (when multiple row groups are applied).</td></tr>
      <tr><td>ExportData</td><td>object</td><td>string dataFormat, string fileName, Action&lt;object&gt; callback</td><td>Exports the PivotTable's data.</td></tr>
      <tr><td>GetDynamicColumns</td><td>object</td><td>N/A</td><td>Returns the current dynamic pivot columns.</td></tr>
      <tr><td>GetSelection</td><td>IEnumerable&lt;object&gt;</td><td>N/A</td><td>Returns an array of selected row ids.</td></tr>
      <tr><td>Refresh</td><td>void</td><td>N/A</td><td>Refreshes the PivotTable.</td></tr>
      <tr><td>RemoveFilter</td><td>void</td><td>string dataField</td><td>Removes filters applied to a specific column.</td></tr>
      <tr><td>Select</td><td>void</td><td>object rowId</td><td>Selects a row.</td></tr>
      <tr><td>SortBy</td><td>void</td><td>object columnDefinition, string sortOrder</td><td>Sorts by a summary or group column.</td></tr>
      <tr><td>Unselect</td><td>void</td><td>object rowId</td><td>Unselects a row.</td></tr>
  </table>
  <h2 id="PivotTableEvents"><a id="PivotTable_events" href="javascript: void(0)" class="anchor"><strong>PivotTable</strong> Events</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Description</th><th>Event Detail</th></tr>
      <tr><td>OnCellClick</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when a cell has been clicked.</td><td>string dataField, dynamic row</td></tr>
      <tr><td>CellClicked</td><td>event PivotTableCellClickedEventHandler</td><td>This event is triggered when a cell has been clicked.</td><td>PivotTableCellClickedEventArgs</td></tr>
      <tr><td>OnChange</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the selection is changed.</td><td>N/A</td></tr>
      <tr><td>Changed</td><td>event PivotTableChangedEventHandler</td><td>This event is triggered when the selection is changed.</td><td>PivotTableChangedEventArgs</td></tr>
      <tr><td>OnColumnClick</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when a summary column header cell has been clicked.</td><td>dynamic columnDefinition, string dataField</td></tr>
      <tr><td>ColumnClicked</td><td>event PivotTableColumnClickedEventHandler</td><td>This event is triggered when a summary column header cell has been clicked.</td><td>PivotTableColumnClickedEventArgs</td></tr>
      <tr><td>OnFilter</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when a filtering-related action is made.</td><td>dynamic action, dynamic filters</td></tr>
      <tr><td>Filtered</td><td>event PivotTableFilteredEventHandler</td><td>This event is triggered when a filtering-related action is made.</td><td>PivotTableFilteredEventArgs</td></tr>
      <tr><td>OnSort</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when a column header cell has been clicked.</td><td>dynamic columns</td></tr>
      <tr><td>Sorted</td><td>event PivotTableSortedEventHandler</td><td>This event is triggered when a column header cell has been clicked.</td><td>PivotTableSortedEventArgs</td></tr>
    </table>
  <h2 id="PivotTableColumnProperties"><a id="PivotTableColumn_properties" href="javascript: void(0)" class="anchor"><strong>PivotTableColumn</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Align</td><td>PivotTableColumnAlign</td><td>PivotTableColumnAlign.Left</td><td>Sets or gets the header cell alignment for pivot and summary columns and cell alignment for row group columns.</td></tr>
      <tr><td>AllowFilter</td><td>bool</td><td>true</td><td>Sets or gets whether the column can be filtered.</td></tr>
      <tr><td>AllowPivot</td><td>bool</td><td>false</td><td>Sets or gets whether the column can be a pivot column.</td></tr>
      <tr><td>AllowRowGroup</td><td>bool</td><td>false</td><td>Sets or gets whether the column can be a row group column.</td></tr>
      <tr><td>AllowSort</td><td>bool</td><td>true</td><td>Sets or gets whether summary columns based on the column can be sorted.</td></tr>
      <tr><td>DataField</td><td>string</td><td>&quot;&quot;</td><td>Sets or gets the column's data source-bound field.</td></tr>
      <tr><td>DataType</td><td>PivotTableColumnDataType</td><td>PivotTableColumnDataType.String</td><td>Sets or gets the data type of the column's cells.</td></tr>
      <tr><td>Label</td><td>string</td><td>&quot;&quot;</td><td>Sets or gets the column's displayed text (for example in summary column headers).</td></tr>
      <tr><td>Pivot</td><td>bool</td><td>false</td><td>Sets or gets whether the column is a pivot column. Data from pivot columns is represented as column hierarchy in the PivotTable.</td></tr>
      <tr><td>RowGroup</td><td>bool</td><td>false</td><td>Sets or gets whether the column is a row group column. Data from row group columns is represented as rows in the PivotTable. If multiple row groups are set, row hierarchy is displayed based on the order of the row group columns in the columns array.</td></tr>
      <tr><td>Summary</td><td>PivotTableColumnSummary</td><td>PivotTableColumnSummary.Sum</td><td>Sets or gets the summary function to aggregate the column's data by and produce dynamic summary columns for each unique pivot data point. There must always be at least one summary column for the PivotTable to make sense. When <strong>columnTotals</strong> is enabled, all summary columns must have the same summary function set.</td></tr>
      <tr><td>SummarySettings</td><td>object</td><td>new object()</td><td>Sets or gets an object with settings for cells in summary columns.</td></tr>
    </table>
  <h2 id="PivotTableConditionalFormattingProperties"><a id="PivotTableConditionalFormatting_properties" href="javascript: void(0)" class="anchor"><strong>PivotTableConditionalFormatting</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Column</td><td>string</td><td>&quot;all&quot;</td><td>The data field of a numeric column to format. Set 'all' to format all numeric columns.</td></tr>
      <tr><td>Condition</td><td>PivotTableConditionalFormattingCondition</td><td>PivotTableConditionalFormattingCondition.LessThan</td><td>The formatting condition.</td></tr>
      <tr><td>FirstValue</td><td>int</td><td>0</td><td>The value to compare by. When <strong>condition</strong> is <em>'between'</em>, this is the start (from) value.</td></tr>
      <tr><td>FontFamily</td><td>PivotTableConditionalFormattingFontFamily</td><td>PivotTableConditionalFormattingFontFamily.ThedefaultfontFamilyassetinCSS</td><td>The fontFamily to apply to formatted cells.</td></tr>
      <tr><td>FontSize</td><td>PivotTableConditionalFormattingFontSize</td><td>PivotTableConditionalFormattingFontSize.Fourtheenpx</td><td>The fontSize to apply to formatted cells. The fontSize as set in CSS is used by default.</td></tr>
      <tr><td>Highlight</td><td>string</td><td>&quot;The default backgroundColor as set in CSS&quot;</td><td>The background color to apply to formatted cells.</td></tr>
      <tr><td>SecondValue</td><td>int</td><td>1</td><td>When <strong>condition</strong> is <em>'between'</em>, this is the end (to) value. Otherwise, this value is not used.</td></tr>
      <tr><td>Text</td><td>string</td><td>&quot;The default color as set in CSS&quot;</td><td>The text color to apply to formatted cells.</td></tr>
    </table>
</div>
