@namespace Smart.Blazor
<div>

  <h2 id="RepeatButtonProperties"><a id="RepeatButton_properties" href="javascript: void(0)" class="anchor"><strong>RepeatButton</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Animation</td><td>Animation</td><td>Animation.Advanced</td><td>Sets or gets the animation mode. Animation is disabled when the property is set to <strong>'none'</strong></td></tr>
      <tr><td>ClickMode</td><td>ClickMode</td><td>ClickMode.Release</td><td>Sets the click mode of the button.</td></tr>
      <tr><td>Delay</td><td>int</td><td>50</td><td>Sets the delay between repeats in miliseconds.</td></tr>
      <tr><td>Disabled</td><td>bool</td><td>false</td><td>Enables or disables the ratio button.</td></tr>
      <tr><td>InitialDelay</td><td>int</td><td>150</td><td>Sets a delay before the first repeat iteration in miliseconds.</td></tr>
      <tr><td>InnerHTML</td><td>string</td><td>&quot;&quot;</td><td>Sets the inner HTML of the element.</td></tr>
      <tr><td>Locale</td><td>string</td><td>&quot;en&quot;</td><td>Sets or gets the language. Used in conjunction with the property <strong>messages</strong>. </td></tr>
      <tr><td>LocalizeFormatFunction</td><td>object</td><td>N/A</td><td>Callback, related to localization module. </td></tr>
      <tr><td>Messages</td><td>object</td><td>N/A</td><td>Sets an object with string values, related to the different states of passwords strength.</td></tr>
      <tr><td>Name</td><td>string</td><td>&quot;&quot;</td><td>Sets or gets the widget's name.</td></tr>
      <tr><td>Readonly</td><td>bool</td><td>false</td><td>If the custom element is readonly, it cannot be interacted with.</td></tr>
      <tr><td>Theme</td><td>string</td><td>&quot;&quot;</td><td>Determines the theme. Theme defines the look of the element</td></tr>
      <tr><td>Unfocusable</td><td>bool</td><td>false</td><td>If is set to true, the element cannot be focused.</td></tr>
      <tr><td>Value</td><td>string</td><td>&quot;&quot;</td><td>Sets or gets the widget's value.</td></tr>
  </table>
  <h2 id="RepeatButtonEvents"><a id="RepeatButton_events" href="javascript: void(0)" class="anchor"><strong>RepeatButton</strong> Events</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Description</th><th>Event Detail</th></tr>
      <tr><td>OnClick</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the element is clicked.</td><td>N/A</td></tr>
      <tr><td>Clicked</td><td>event RepeatButtonClickedEventHandler</td><td>This event is triggered when the element is clicked.</td><td>RepeatButtonClickedEventArgs</td></tr>
    </table>
</div>
