@namespace Smart.Blazor
<div>

  <h2 id="SortableProperties"><a id="Sortable_properties" href="javascript: void(0)" class="anchor"><strong>Sortable</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Animation</td><td>Animation</td><td>Animation.Advanced</td><td>Sets or gets the animation mode. Animation is disabled when the property is set to <strong>'none'</strong></td></tr>
      <tr><td>Disabled</td><td>bool</td><td>false</td><td>Enables or disables sorting.</td></tr>
      <tr><td>DragMode</td><td>SortableDragMode</td><td>SortableDragMode.Item</td><td>Sets or gets the way a sortable item can be dragged - by dragging the item itself (<em>'item'</em>) or by dragging a handle that appears next to the item (<em>'handle'</em>).</td></tr>
      <tr><td>HandlePosition</td><td>SortableHandlePosition</td><td>SortableHandlePosition.Right</td><td>Sets or gets the the position of the drag handle relative to its respective sortable item. Applicable only when <strong>dragMode</strong> is <em>'handle'</em>.</td></tr>
      <tr><td>HandleVisibility</td><td>SortableHandleVisibility</td><td>SortableHandleVisibility.Hover</td><td>Sets or gets whether a sortable item's drag handle is always visible or is shown when the item is hovered. Applicable only when <strong>dragMode</strong> is <em>'handle'</em>.</td></tr>
      <tr><td>Items</td><td>string</td><td>&quot;null&quot;</td><td>Sets or gets a selector to determine the sortable items by. By default, sortable items are all children of the jqx-sortable custom element.</td></tr>
      <tr><td>Locale</td><td>string</td><td>&quot;en&quot;</td><td>Sets or gets the language. Used in conjunction with the property <strong>messages</strong>.</td></tr>
      <tr><td>LocalizeFormatFunction</td><td>object</td><td>N/A</td><td>Callback, related to localization module. </td></tr>
      <tr><td>Messages</td><td>object</td><td>N/A</td><td>Sets or gets an object specifying strings used in the widget that can be localized. Used in conjunction with the property <strong>locale</strong>. </td></tr>
      <tr><td>Mode</td><td>Orientation</td><td>Orientation.Vertical</td><td>Sets or gets the direction sortable items are stacked and can be dragged.</td></tr>
      <tr><td>RightToLeft</td><td>bool</td><td>false</td><td>Sets or gets the value indicating whether the element is aligned to support locales using right-to-left fonts.</td></tr>
  </table>
  <h2 id="SortableMethods"><a id="Sortable_methods" href="javascript: void(0)" class="anchor"><strong>Sortable</strong> Methods</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Arguments</th><th>Description</th></tr>
      <tr><td>Move</td><td>void</td><td>int fromIndex, int toIndex</td><td>Moves a sortable item from one index to another.</td></tr>
      <tr><td>UpdateItems</td><td>void</td><td>N/A</td><td>Re-evaluates the items that can be sorted. Useful after items have been added to or removed from the custom element.</td></tr>
  </table>
  <h2 id="SortableEvents"><a id="Sortable_events" href="javascript: void(0)" class="anchor"><strong>Sortable</strong> Events</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Description</th><th>Event Detail</th></tr>
      <tr><td>OnDragEnd</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when sortable items have been reordered.</td><td>N/A</td></tr>
      <tr><td>DragEnded</td><td>event SortableDragEndedEventHandler</td><td>This event is triggered when sortable items have been reordered.</td><td>SortableDragEndedEventArgs</td></tr>
    </table>
</div>
