@namespace Smart.Blazor
<div>

  <h2 id="SplitterBarProperties"><a id="SplitterBar_properties" href="javascript: void(0)" class="anchor"><strong>SplitterBar</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
  </table>
  <h2 id="SplitterBarMethods"><a id="SplitterBar_methods" href="javascript: void(0)" class="anchor"><strong>SplitterBar</strong> Methods</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Arguments</th><th>Description</th></tr>
      <tr><td>Hide</td><td>void</td><td>N/A</td><td>Hides the splitter bar.</td></tr>
      <tr><td>Show</td><td>void</td><td>N/A</td><td>Unhides a splitter bar.</td></tr>
      <tr><td>Lock</td><td>void</td><td>N/A</td><td>Locks the splitter bar.</td></tr>
      <tr><td>Unlock</td><td>void</td><td>N/A</td><td>Unlocks the splitter bar.</td></tr>
  </table>
</div>
