@namespace Smart.Blazor
<div>

  <h2 id="SplitterItemProperties"><a id="SplitterItem_properties" href="javascript: void(0)" class="anchor"><strong>SplitterItem</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Disabled</td><td>bool</td><td>false</td><td>Enables or disables the element.</td></tr>
      <tr><td>IsCollapsed</td><td>bool</td><td>false</td><td>Determines of the item is collapsed or not.</td></tr>
      <tr><td>Collapsible</td><td>bool</td><td>false</td><td>Determines of the item can be collapsed. If set to false, the item can't be collapsed</td></tr>
      <tr><td>Content</td><td>object</td><td></td><td>Determines the content of the splitter items</td></tr>
      <tr><td>Locked</td><td>bool</td><td>false</td><td>Determines of the item can be resized or not.</td></tr>
      <tr><td>Max</td><td>string</td><td>&quot;&quot;</td><td>Determines the max size of the item.</td></tr>
      <tr><td>Min</td><td>string</td><td>&quot;&quot;</td><td>Determines the min size of the item</td></tr>
      <tr><td>Size</td><td>string</td><td>&quot;&quot;</td><td>Determines the size of the item.</td></tr>
  </table>
  <h2 id="SplitterItemMethods"><a id="SplitterItem_methods" href="javascript: void(0)" class="anchor"><strong>SplitterItem</strong> Methods</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Arguments</th><th>Description</th></tr>
      <tr><td>Collapse</td><td>void</td><td>string far</td><td>Collapses the item.</td></tr>
      <tr><td>Expand</td><td>void</td><td>N/A</td><td>Expands the item if it's collapsed.</td></tr>
      <tr><td>Lock</td><td>void</td><td>N/A</td><td>Locks the item so it can no longer change it's size.</td></tr>
      <tr><td>Unlock</td><td>void</td><td>N/A</td><td>Unlocks a previously locked item.</td></tr>
  </table>
</div>
