@namespace Smart.Blazor
<div>

  <h2 id="TabItemProperties"><a id="TabItem_properties" href="javascript: void(0)" class="anchor"><strong>TabItem</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>CloseButtonHidden</td><td>bool</td><td>false</td><td>Tab item close button state</td></tr>
      <tr><td>Index</td><td>int</td><td>N/A</td><td>Tab item index</td></tr>
      <tr><td>Selected</td><td>bool</td><td>false</td><td>Tab item selected state</td></tr>
      <tr><td>Label</td><td>string</td><td>&quot;&quot;</td><td>Tab item label</td></tr>
      <tr><td>Content</td><td>object</td><td></td><td>Tab item content</td></tr>
      <tr><td>LabelSize</td><td>int</td><td>N/A</td><td>Tab item label size</td></tr>
  </table>
</div>
