@namespace Smart.Blazor
<div>

  <h2 id="TabLayoutItemProperties"><a id="TabLayoutItem_properties" href="javascript: void(0)" class="anchor"><strong>TabLayoutItem</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Disabled</td><td>bool</td><td>false</td><td>Enables or disables the element.</td></tr>
      <tr><td>Modifiers</td><td>IEnumerable&lt;object&gt;</td><td>N/A</td><td>Sets or gets the modifiers of the Layout item.</td></tr>
      <tr><td>Min</td><td>int</td><td>50</td><td>Determines the min size of the item.</td></tr>
      <tr><td>Label</td><td>string</td><td>&quot;TabItem&quot;</td><td>Determines the label of the item.</td></tr>
      <tr><td>Orientation</td><td>TabLayoutItemOrientation</td><td>TabLayoutItemOrientation.Vertical</td><td>Determines the group orientation.</td></tr>
      <tr><td>Size</td><td>object</td><td>N/A</td><td>Determines the size of the item.</td></tr>
      <tr><td>Unfocusable</td><td>bool</td><td>false</td><td>If is set to true, the element cannot be focused.</td></tr>
  </table>
</div>
