@namespace Smart.Blazor
<div>

  <h2 id="TableProperties"><a id="Table_properties" href="javascript: void(0)" class="anchor"><strong>Table</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Animation</td><td>Animation</td><td>Animation.Advanced</td><td>Sets or gets the animation mode. Animation is disabled when the property is set to <strong>'none'</strong></td></tr>
      <tr><td>AutoLoadState</td><td>bool</td><td>false</td><td>Enables or disables auto load state from the browser's localStorage. Information about columns, expanded rows, selected rows, applied fitering, grouping, and sorted columns is loaded, based on the value of the <strong>stateSettings</strong> property.</td></tr>
      <tr><td>AutoSaveState</td><td>bool</td><td>false</td><td>Enables or disables auto save state to the browser's localStorage. Information about columns, expanded rows, selected rows, applied fitering, grouping, and   sorted columns is saved, based on the value of the <strong>stateSettings</strong> property.</td></tr>
      <tr><td>ColumnMinWidth</td><td>object</td><td>50px</td><td>Sets or gets the min width of columns when <strong>columnSizeMode</strong> is <em>'auto'</em> or when resizing columns. This property has no effect on columns with programmatically set width.</td></tr>
      <tr><td>ColumnReorder</td><td>bool</td><td>false</td><td>Sets or gets whether the reordering of columns is enabled.</td></tr>
      <tr><td>ColumnResize</td><td>bool</td><td>false</td><td>Sets or gets whether the resizing of columns is enabled. <strong>Note:</strong> column sizes continue to adhere to the behavior of the standard HTML table element's table-layout: fixed, upon which jqx-table is based.</td></tr>
      <tr><td>ColumnResizeFeedback</td><td>bool</td><td>false</td><td>Sets or gets whether when resizing a column, a feedback showing the new column width in px will be displayed.</td></tr>
      <tr><td>Columns</td><td>IEnumerable&lt;ITableColumn&gt;</td><td>N/A</td><td>Describes the columns properties.</td></tr>
      <tr><td>ConditionalFormatting</td><td>IEnumerable&lt;ITableConditionalFormatting&gt;</td><td>N/A</td><td>Sets or gets details about conditional formatting to be applied to the Table's cells.</td></tr>
      <tr><td>ColumnSizeMode</td><td>TableColumnSizeMode</td><td>TableColumnSizeMode.Default</td><td>Sets or gets the column sizing behavior.</td></tr>
      <tr><td>ConditionalFormattingButton</td><td>bool</td><td>false</td><td>Sets or gets whether the "Conditional Formatting" button appears in the Table's header (toolbar). Clicking this button opens a dialog with formatting options.</td></tr>
      <tr><td>DataRowId</td><td>string</td><td>&quot;null&quot;</td><td>When binding the <strong>dataSource</strong> property directly to an array (as opposed to an instance of JQX.DataAdapter), sets or gets the name of the data field in the source array to bind row ids to.</td></tr>
      <tr><td>DataSource</td><td>object</td><td></td><td>Determines the data source of the table component.</td></tr>
      <tr><td>DataTransform</td><td>object</td><td>N/A</td><td>A callback function that can be used to transform the initial dataSource records. If implemented, it is called once for each record (which is passed as an argument).</td></tr>
      <tr><td>Disabled</td><td>bool</td><td>false</td><td>Disables the interaction with the element.</td></tr>
      <tr><td>Editing</td><td>bool</td><td>false</td><td>Sets or gets whether the Table can be edited.</td></tr>
      <tr><td>EditMode</td><td>TableEditMode</td><td>TableEditMode.Cell</td><td>Sets or gets the edit mode.</td></tr>
      <tr><td>Filtering</td><td>bool</td><td>false</td><td>Sets or gets whether the Table can be filtered. By default, the Table can be filtered by all string and numeric columns through a filter input in the header.</td></tr>
      <tr><td>FilterRow</td><td>bool</td><td>false</td><td>Sets or gets whether the Table can be filtered via a filter row.</td></tr>
      <tr><td>FilterTemplate</td><td>string</td><td>&quot;null&quot;</td><td>Sets or gets the id of an HTML template element to be applied as a custom filter template.</td></tr>
      <tr><td>FooterRow</td><td>string</td><td>&quot;null&quot;</td><td>Sets or gets the id of an HTML template element to be applied as footer row(s).</td></tr>
      <tr><td>FreezeFooter</td><td>bool</td><td>false</td><td>Sets or gets whether the Table's footer is sticky/frozen.</td></tr>
      <tr><td>FreezeHeader</td><td>bool</td><td>false</td><td>Sets or gets whether the Table's column header is sticky/frozen.</td></tr>
      <tr><td>Grouping</td><td>bool</td><td>false</td><td>Sets or gets whether grouping the Table is enabled.</td></tr>
      <tr><td>HeaderRow</td><td>string</td><td>&quot;null&quot;</td><td>Sets or gets the id of an HTML template element to be applied as additional column header(s).</td></tr>
      <tr><td>KeyboardNavigation</td><td>bool</td><td>false</td><td>Sets or gets whether navigation with the keyboard is enabled in the Table.</td></tr>
      <tr><td>Locale</td><td>string</td><td>&quot;en&quot;</td><td>Sets or gets the language. Used in conjunction with the property <strong>messages</strong>. </td></tr>
      <tr><td>Messages</td><td>object</td><td>N/A</td><td>Sets or gets an object specifying strings used in the element that can be localized. Used in conjunction with the property <strong>locale</strong>. </td></tr>
      <tr><td>OnCellRender</td><td>object</td><td>N/A</td><td>A callback function executed each time a Table cell is rendered.</td></tr>
      <tr><td>OnColumnRender</td><td>object</td><td>N/A</td><td>A callback function executed each time a Table column header cell is rendered.</td></tr>
      <tr><td>OnInit</td><td>object</td><td>N/A</td><td>A callback function executed when the Table is being initialized.</td></tr>
      <tr><td>PageSize</td><td>TablePageSize</td><td>TablePageSize.10</td><td>Sets or gets the page size (when <strong>paging</strong> is enabled).</td></tr>
      <tr><td>PageIndex</td><td>int</td><td>0</td><td>Sets or gets the current (zero-based) page index (when <strong>paging</strong> is enabled).</td></tr>
      <tr><td>Paging</td><td>bool</td><td>false</td><td>Sets or gets whether paging is enabled.</td></tr>
      <tr><td>RightToLeft</td><td>bool</td><td>false</td><td>Sets or gets the value indicating whether the element is aligned to support locales using right-to-left fonts.</td></tr>
      <tr><td>RowDetailTemplate</td><td>string</td><td>&quot;null&quot;</td><td>Sets or gets a string template to be applied as row detail template. Each cell value in the master row can be placed in the detail row by specifying the cell's data field in double curly brackets (e.g. <em>{{price}}</em>. The details can then be displayed by expanding the row by clicking it.</td></tr>
      <tr><td>Selection</td><td>bool</td><td>false</td><td>Sets or gets whether row selection (via checkboxes) is enabled.</td></tr>
      <tr><td>SelectionMode</td><td>TableSelectionMode</td><td>TableSelectionMode.Many</td><td>Sets or gets the selection mode. Only applicable when <strong>selection</strong> is enabled.</td></tr>
      <tr><td>Sort</td><td>object</td><td>N/A</td><td>A callback function executed when a column is sorted that can be used to override the default sorting behavior. The function is passed four parameters: <ol><li>dataSource - the Table's data source</li><li>sortColumns - an array of the data fields of columns to be sorted by</li><li>directions - an array of sort directions to be sorted by (corresponding to <strong>sortColumns</strong>)</li><li>defaultCompareFunctions - an array of default compare functions to be sorted by (corresponding to <strong>sortColumns</strong>), useful if the sorting of some columns does not have to be overridden</li></ol></td></tr>
      <tr><td>SortMode</td><td>TableSortMode</td><td>TableSortMode.None</td><td>Determines the sorting mode of the Table.</td></tr>
      <tr><td>StateSettings</td><td>string[]</td><td>new string[]{}</td><td>Sets or gets what settings of the Table's state can be saved (by <strong>autoSaveState</strong> or <strong>saveState</strong>) or loaded (by <strong>autoLoadState</strong> or <strong>loadState</strong>).</td></tr>
      <tr><td>Theme</td><td>string</td><td>&quot;&quot;</td><td>Determines the theme. Theme defines the look of the element</td></tr>
      <tr><td>Tooltip</td><td>bool</td><td>false</td><td>Sets or gets whether when hovering a cell with truncated content, a tooltip with the full content will be shown.</td></tr>
  </table>
  <h2 id="TableMethods"><a id="Table_methods" href="javascript: void(0)" class="anchor"><strong>Table</strong> Methods</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Arguments</th><th>Description</th></tr>
      <tr><td>AddFilter</td><td>void</td><td>string dataField, object filter</td><td>Adds a filter to a specific column.</td></tr>
      <tr><td>AddGroup</td><td>void</td><td>string dataField</td><td>Groups by a column.</td></tr>
      <tr><td>BeginEdit</td><td>void</td><td>object row, string dataField</td><td>Begins an edit operation.</td></tr>
      <tr><td>CancelEdit</td><td>void</td><td>N/A</td><td>Ends the current edit operation and discards changes.</td></tr>
      <tr><td>ClearFilters</td><td>void</td><td>N/A</td><td>Clears applied filters.</td></tr>
      <tr><td>ClearGrouping</td><td>void</td><td>N/A</td><td>Clears grouping.</td></tr>
      <tr><td>ClearSelection</td><td>void</td><td>N/A</td><td>Clears selection.</td></tr>
      <tr><td>ClearSort</td><td>void</td><td>N/A</td><td>Clears the Table sorting.</td></tr>
      <tr><td>CollapseAllRows</td><td>void</td><td>N/A</td><td>Collapses all rows (in tree mode).</td></tr>
      <tr><td>CollapseGroup</td><td>void</td><td>string index</td><td>Collapses a group.</td></tr>
      <tr><td>CollapseRow</td><td>void</td><td>object rowId</td><td>Collapses a row (in tree mode).</td></tr>
      <tr><td>EndEdit</td><td>void</td><td>N/A</td><td>Ends the current edit operation and saves changes.</td></tr>
      <tr><td>ExpandAllRows</td><td>void</td><td>N/A</td><td>Expands all rows (in tree mode).</td></tr>
      <tr><td>ExpandGroup</td><td>void</td><td>string index</td><td>Expands a group.</td></tr>
      <tr><td>ExpandRow</td><td>void</td><td>object rowId</td><td>Expands a row (in tree mode).</td></tr>
      <tr><td>ExportData</td><td>object</td><td>string dataFormat, string fileName, bool exportFiltered, Action&lt;object&gt; callback</td><td>Exports the Table's data.</td></tr>
      <tr><td>GetSelection</td><td>IEnumerable&lt;object&gt;</td><td>N/A</td><td>Returns an array of selected row ids.</td></tr>
      <tr><td>GetState</td><td>object</td><td>N/A</td><td>Returns the Table's state, containing information about columns, expanded rows, selected rows, applied fitering, grouping, and sorted columns. It can then be stored or passed to the method <strong>loadState</strong>.</td></tr>
      <tr><td>GetValue</td><td>object</td><td>object row, string dataField</td><td>Returns the value of a cell.</td></tr>
      <tr><td>LoadState</td><td>void</td><td>object state</td><td>Loads the Table's state. Information about columns, expanded rows, selected rows, applied fitering, grouping, and sorted columns is loaded, based on the value of the <strong>stateSettings</strong> property.</td></tr>
      <tr><td>NavigateTo</td><td>void</td><td>int pageIndex</td><td>Navigates to a page.</td></tr>
      <tr><td>Refresh</td><td>void</td><td>N/A</td><td>Refreshes the table.</td></tr>
      <tr><td>RemoveFilter</td><td>void</td><td>string dataField</td><td>Removes filters applied to a specific column.</td></tr>
      <tr><td>RemoveGroup</td><td>void</td><td>string dataField</td><td>Removes grouping by a column.</td></tr>
      <tr><td>SaveState</td><td>object</td><td>N/A</td><td>Saves the Table's state. Information about columns, expanded rows, selected rows, applied fitering, grouping, and sorted columns is saved, based on the value of the <strong>stateSettings</strong> property.</td></tr>
      <tr><td>Select</td><td>void</td><td>object rowId</td><td>Selects one or more rows.</td></tr>
      <tr><td>SetValue</td><td>void</td><td>object row, string dataField, object value</td><td>Sets the value of a cell.</td></tr>
      <tr><td>SortBy</td><td>void</td><td>string columnDataField, string sortOrder</td><td>Sorts the Table by a column.</td></tr>
      <tr><td>Unselect</td><td>void</td><td>object rowId</td><td>Unselects one or more rows.</td></tr>
  </table>
  <h2 id="TableEvents"><a id="Table_events" href="javascript: void(0)" class="anchor"><strong>Table</strong> Events</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Description</th><th>Event Detail</th></tr>
      <tr><td>OnCellBeginEdit</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when a cell edit operation has been initiated.</td><td>string dataField, dynamic row</td></tr>
      <tr><td>CellBeginEdited</td><td>event TableCellBeginEditedEventHandler</td><td>This event is triggered when a cell edit operation has been initiated.</td><td>TableCellBeginEditedEventArgs</td></tr>
      <tr><td>OnCellClick</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when a cell has been clicked.</td><td>string dataField, dynamic row</td></tr>
      <tr><td>CellClicked</td><td>event TableCellClickedEventHandler</td><td>This event is triggered when a cell has been clicked.</td><td>TableCellClickedEventArgs</td></tr>
      <tr><td>OnCellEndEdit</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when a cell has been edited.</td><td>string dataField, dynamic row</td></tr>
      <tr><td>CellEndEdited</td><td>event TableCellEndEditedEventHandler</td><td>This event is triggered when a cell has been edited.</td><td>TableCellEndEditedEventArgs</td></tr>
      <tr><td>OnChange</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the selection is changed.</td><td>dynamic type</td></tr>
      <tr><td>Changed</td><td>event TableChangedEventHandler</td><td>This event is triggered when the selection is changed.</td><td>TableChangedEventArgs</td></tr>
      <tr><td>OnColumnClick</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when a column header cell has been clicked.</td><td>string dataField</td></tr>
      <tr><td>ColumnClicked</td><td>event TableColumnClickedEventHandler</td><td>This event is triggered when a column header cell has been clicked.</td><td>TableColumnClickedEventArgs</td></tr>
      <tr><td>OnColumnResize</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when a column has been resized via dragging or double-click.</td><td>string dataField, dynamic headerCellElement, string width</td></tr>
      <tr><td>ColumnResized</td><td>event TableColumnResizedEventHandler</td><td>This event is triggered when a column has been resized via dragging or double-click.</td><td>TableColumnResizedEventArgs</td></tr>
      <tr><td>OnFilter</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when a filtering-related action is made.</td><td>dynamic action, dynamic filters</td></tr>
      <tr><td>Filtered</td><td>event TableFilteredEventHandler</td><td>This event is triggered when a filtering-related action is made.</td><td>TableFilteredEventArgs</td></tr>
      <tr><td>OnGroup</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when a grouping-related action is made.</td><td>dynamic action, string dataField, string label</td></tr>
      <tr><td>Grouped</td><td>event TableGroupedEventHandler</td><td>This event is triggered when a grouping-related action is made.</td><td>TableGroupedEventArgs</td></tr>
      <tr><td>OnPage</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when a paging-related action is made.</td><td>dynamic action</td></tr>
      <tr><td>Paged</td><td>event TablePagedEventHandler</td><td>This event is triggered when a paging-related action is made.</td><td>TablePagedEventArgs</td></tr>
      <tr><td>OnSort</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when a column header cell has been clicked.</td><td>dynamic columns</td></tr>
      <tr><td>Sorted</td><td>event TableSortedEventHandler</td><td>This event is triggered when a column header cell has been clicked.</td><td>TableSortedEventArgs</td></tr>
    </table>
  <h2 id="TableColumnProperties"><a id="TableColumn_properties" href="javascript: void(0)" class="anchor"><strong>TableColumn</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>AllowEdit</td><td>bool</td><td>true</td><td>Sets or gets whether the column's cells can be edited.</td></tr>
      <tr><td>AllowFilter</td><td>bool</td><td>true</td><td>Sets or gets whether the column can be filtered.</td></tr>
      <tr><td>AllowGroup</td><td>bool</td><td>true</td><td>Sets or gets whether the table can be grouped by the column.</td></tr>
      <tr><td>AllowSort</td><td>bool</td><td>true</td><td>Sets or gets whether the table can be sorted by the column.</td></tr>
      <tr><td>DataField</td><td>string</td><td>&quot;&quot;</td><td>Sets or gets the column's data source-bound field.</td></tr>
      <tr><td>DataType</td><td>TableColumnDataType</td><td>TableColumnDataType.String</td><td>Sets or gets the data type of the column's cells.</td></tr>
      <tr><td>Editor</td><td>object</td><td>null</td><td>An object setting up a custom editor. Available fields: <ul><li>template - a string to be parsed into HTML and be used as custom cell editor.</li><li>onInit - a callback function called once when the editor is initialized.</li><li>onRender - a callback function called each time a cell enters edit mode.</li><li>getValue - a callback function called when editing is complete; used to return the editor's value to the Table's data source.</li></ul></td></tr>
      <tr><td>Freeze</td><td>string</td><td>&quot;&quot;</td><td>Sets or gets whether the column is sticky/frozen. <em>true</em> and <em>'near'</em> designate freezing on the left side, <em>'far'</em> - on the right side.</td></tr>
      <tr><td>Label</td><td>string</td><td>&quot;&quot;</td><td>Sets or gets the text displayed in the column's header.</td></tr>
      <tr><td>ResponsivePriority</td><td>TableColumnResponsivePriority</td><td>TableColumnResponsivePriority.One</td><td>Sets or gets the column's priority when resizing the browser window. The larger the priority value, the column will be hidden at a larger screen resolution. Columns with priority <em>1</em> are never hidden.</td></tr>
      <tr><td>Transform</td><td>object</td><td>null</td><td>A callback function that can be used to transform all the data of the column's original data field into a new data field to be used in column cells and all column operations. Can be useful for localizing data.</td></tr>
      <tr><td>Validation</td><td>object</td><td>null</td><td>A callback function that can be used to validate cell values after editing. If it returns <em>true</em>, the cell is valid. If it returns <em>false</em> or an object with a <strong>message</strong> field, the cell is not valid and the message (or a default one) is displayed in a tooltip.</td></tr>
      <tr><td>Width</td><td>object</td><td>null</td><td>Sets the width of the column. The width can be entered as a number or string with px.</td></tr>
    </table>
  <h2 id="TableConditionalFormattingProperties"><a id="TableConditionalFormatting_properties" href="javascript: void(0)" class="anchor"><strong>TableConditionalFormatting</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Column</td><td>string</td><td>&quot;all&quot;</td><td>The data field of a numeric column to format. Set 'all' to format all numeric columns.</td></tr>
      <tr><td>Condition</td><td>TableConditionalFormattingCondition</td><td>TableConditionalFormattingCondition.LessThan</td><td>The formatting condition.</td></tr>
      <tr><td>FirstValue</td><td>int</td><td>0</td><td>The value to compare by. When <strong>condition</strong> is <em>'between'</em>, this is the start (from) value.</td></tr>
      <tr><td>FontFamily</td><td>TableConditionalFormattingFontFamily</td><td>TableConditionalFormattingFontFamily.ThedefaultfontFamilyassetinCSS</td><td>The fontFamily to apply to formatted cells.</td></tr>
      <tr><td>FontSize</td><td>TableConditionalFormattingFontSize</td><td>TableConditionalFormattingFontSize.Fourtheenpx</td><td>The fontSize to apply to formatted cells. The fontSize as set in CSS is used by default.</td></tr>
      <tr><td>Highlight</td><td>string</td><td>&quot;The default backgroundColor as set in CSS&quot;</td><td>The background color to apply to formatted cells.</td></tr>
      <tr><td>SecondValue</td><td>int</td><td>1</td><td>When <strong>condition</strong> is <em>'between'</em>, this is the end (to) value. Otherwise, this value is not used.</td></tr>
      <tr><td>Text</td><td>string</td><td>&quot;The default color as set in CSS&quot;</td><td>The text color to apply to formatted cells.</td></tr>
    </table>
</div>
