@namespace Smart.Blazor
<div>

  <h2 id="TooltipProperties"><a id="Tooltip_properties" href="javascript: void(0)" class="anchor"><strong>Tooltip</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Animation</td><td>Animation</td><td>Animation.Advanced</td><td>Sets or gets the animation mode. Animation is disabled when the property is set to <strong>'none'</strong></td></tr>
      <tr><td>Arrow</td><td>bool</td><td>false</td><td>Gets or sets whether a tooltip's arrow will be shown.</td></tr>
      <tr><td>ArrowDirection</td><td>TooltipArrowDirection</td><td>TooltipArrowDirection.Bottom</td><td>Sets the position of the arrow.</td></tr>
      <tr><td>Delay</td><td>int</td><td>0</td><td>Gets or sets whether a tooltip's arrow will be shown.</td></tr>
      <tr><td>Disabled</td><td>bool</td><td>false</td><td>Enables or disables the tooltip.</td></tr>
      <tr><td>Offset</td><td>int[]</td><td>new int[]{}</td><td>Sets an offset by X and Y.</td></tr>
      <tr><td>Locale</td><td>string</td><td>&quot;en&quot;</td><td>Sets or gets the language. Used in conjunction with the property <strong>messages</strong>. </td></tr>
      <tr><td>LocalizeFormatFunction</td><td>object</td><td>N/A</td><td>Callback, related to localization module. </td></tr>
      <tr><td>Messages</td><td>object</td><td>N/A</td><td>Sets or gets an object specifying strings used in the widget that can be localized. Used in conjunction with the property <strong>language</strong>. </td></tr>
      <tr><td>OpenMode</td><td>TooltipOpenMode</td><td>TooltipOpenMode.Hover</td><td>Sets or gets the way of triggering the tooltip.</td></tr>
      <tr><td>Position</td><td>TooltipPosition</td><td>TooltipPosition.Top</td><td>Gets or sets the position of the tooltip.</td></tr>
      <tr><td>Selector</td><td>object</td><td>N/A</td><td>Sets the element which triggers the tooltip.</td></tr>
      <tr><td>Theme</td><td>string</td><td>&quot;&quot;</td><td>Determines the theme. Theme defines the look of the element</td></tr>
      <tr><td>TooltipTemplate</td><td>object</td><td>N/A</td><td>Sets custom tooltip template.</td></tr>
      <tr><td>Unfocusable</td><td>bool</td><td>false</td><td>If is set to true, the element cannot be focused.</td></tr>
      <tr><td>Value</td><td>string</td><td>&quot;&quot;</td><td>Sets or gets the widget's value.</td></tr>
      <tr><td>Visible</td><td>bool</td><td>false</td><td>Sets or gets the visibility of the tooltip.</td></tr>
  </table>
  <h2 id="TooltipMethods"><a id="Tooltip_methods" href="javascript: void(0)" class="anchor"><strong>Tooltip</strong> Methods</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Arguments</th><th>Description</th></tr>
      <tr><td>Close</td><td>void</td><td>N/A</td><td>Closes smart-tooltip. </td></tr>
      <tr><td>Open</td><td>void</td><td>N/A</td><td>Opens smart-tooltip. </td></tr>
      <tr><td>Toggle</td><td>void</td><td>N/A</td><td>Toggles smart-tooltip. </td></tr>
      <tr><td>Clear</td><td>void</td><td>N/A</td><td>Clears the content of the Tooltip. </td></tr>
  </table>
  <h2 id="TooltipEvents"><a id="Tooltip_events" href="javascript: void(0)" class="anchor"><strong>Tooltip</strong> Events</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Description</th><th>Event Detail</th></tr>
      <tr><td>OnOpen</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the tooltip is opened.</td><td>N/A</td></tr>
      <tr><td>Opened</td><td>event TooltipOpenedEventHandler</td><td>This event is triggered when the tooltip is opened.</td><td>TooltipOpenedEventArgs</td></tr>
      <tr><td>OnOpening</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered before the tooltip is opened. The event can be prevented via event.preventDefault().</td><td>N/A</td></tr>
      <tr><td>Opening</td><td>event TooltipOpeningEventHandler</td><td>This event is triggered before the tooltip is opened. The event can be prevented via event.preventDefault().</td><td>TooltipOpeningEventArgs</td></tr>
      <tr><td>OnClose</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the tooltip is closed.</td><td>N/A</td></tr>
      <tr><td>Closed</td><td>event TooltipClosedEventHandler</td><td>This event is triggered when the tooltip is closed.</td><td>TooltipClosedEventArgs</td></tr>
      <tr><td>OnClosing</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered before the tooltip is closed. The event can be prevented via event.preventDefault().</td><td>N/A</td></tr>
      <tr><td>Closing</td><td>event TooltipClosingEventHandler</td><td>This event is triggered before the tooltip is closed. The event can be prevented via event.preventDefault().</td><td>TooltipClosingEventArgs</td></tr>
    </table>
</div>
