@namespace Smart.Blazor
<div>

  <h2 id="TreeItemsGroupProperties"><a id="TreeItemsGroup_properties" href="javascript: void(0)" class="anchor"><strong>TreeItemsGroup</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Disabled</td><td>bool</td><td>false</td><td>Enables or disables element.</td></tr>
      <tr><td>IsExpanded</td><td>bool</td><td>false</td><td></td></tr>
      <tr><td>Label</td><td>object</td><td></td><td></td></tr>
      <tr><td>Level</td><td>int</td><td>N/A</td><td></td></tr>
      <tr><td>Selected</td><td>bool</td><td>false</td><td></td></tr>
      <tr><td>Separator</td><td>bool</td><td>true</td><td></td></tr>
      <tr><td>Value</td><td>object</td><td>N/A</td><td></td></tr>
      <tr><td>Readonly</td><td>bool</td><td>false</td><td>Disables user interaction with the item.</td></tr>
  </table>
</div>
