@namespace Smart.Blazor
<div>

  <h2 id="TreeProperties"><a id="Tree_properties" href="javascript: void(0)" class="anchor"><strong>Tree</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>AllowDrag</td><td>bool</td><td>false</td><td>Allows drag operation in current tree. When enabled, items can be dragged and dropped to a tree with enabled <strong>allowDrop</strong>.</td></tr>
      <tr><td>AllowDrop</td><td>bool</td><td>false</td><td>Allows drop operation. Dropped items could originate from the current tree or another tree.</td></tr>
      <tr><td>Animation</td><td>Animation</td><td>Animation.Advanced</td><td>Sets or gets the animation mode. Animation is disabled when the property is set to <strong>'none'</strong></td></tr>
      <tr><td>AutoHideToggleElement</td><td>bool</td><td>false</td><td>Automatically hides the tree's toggle element (arrow) on mouseleave and shows it on mouseenter.</td></tr>
      <tr><td>AutoLoadState</td><td>bool</td><td>false</td><td>Enables or disables auto load state from the browser's localStorage. Information about filtering, sorting, expanded and selected items is loaded.</td></tr>
      <tr><td>AutoSaveState</td><td>bool</td><td>false</td><td>Enables or disables auto save state to the browser's localStorage. Information about filtering, sorting, expanded and selected items is saved.</td></tr>
      <tr><td>AutoSort</td><td>bool</td><td>true</td><td>Enables or disables auto sorting. If modifications are made to a sorted tree, but <strong>autoSort</strong> is <em>false</em>, the tree will not be re-sorted automatically.</td></tr>
      <tr><td>DataSource</td><td>object</td><td>N/A</td><td>Determines the data source that will be loaded to the Tree.</td></tr>
      <tr><td>Disabled</td><td>bool</td><td>false</td><td>Enables or disables jqxTree.</td></tr>
      <tr><td>DisplayLoadingIndicator</td><td>bool</td><td>false</td><td>Shows or hides loading indicator.</td></tr>
      <tr><td>DisplayMember</td><td>string</td><td>&quot;label&quot;</td><td>Determines the field in the data source that corresponds to an item's <strong>label</strong>.</td></tr>
      <tr><td>DragFeedbackFormatFunction</td><td>object</td><td>N/A</td><td>A callback function for customizing the HTML of the drag feedback. It receives one parameter - an array of the currently dragged items.</td></tr>
      <tr><td>DragOffset</td><td>int[]</td><td>new int[]{}</td><td>Determines the offset of the drag feedback element from the mouse cursor when dragging items. The first member of the array is the horizontal offset and the second one - the vertical offset.</td></tr>
      <tr><td>Editable</td><td>bool</td><td>false</td><td>Enables or disables item's editting. An edit operation can be initiated by double-clicking a tree item or pressing F2 while an item is selected.</td></tr>
      <tr><td>ExpandMode</td><td>TreeExpandMode</td><td>TreeExpandMode.Multiple</td><td>Determines the expand behavior of TreeItemsGroups in the Tree.</td></tr>
      <tr><td>Filterable</td><td>bool</td><td>false</td><td>Enables or disables filtering. Shows or hides filter input.</td></tr>
      <tr><td>FilterInputPlaceholder</td><td>string</td><td>&quot;&quot;</td><td>Sets custom text for placeholder in the filter input.</td></tr>
      <tr><td>FilterMode</td><td>FilterMode</td><td>FilterMode.ContainsIgnoreCase</td><td>Sets filter mode.</td></tr>
      <tr><td>HasThreeStates</td><td>bool</td><td>false</td><td>Sets or gets whether the tree checkboxes have three states - checked, unchecked and indeterminate. Whorks on selectionMode: 'checkBox'</td></tr>
      <tr><td>ItemsMember</td><td>string</td><td>&quot;items&quot;</td><td>Determines the field in the data source that corresponds to an item group's subitems collection.</td></tr>
      <tr><td>LoadingIndicatorPlaceholder</td><td>string</td><td>&quot;Loading...&quot;</td><td>Sets custom text for placeholder in the loading indicator if loadingIndicatorPosition is set to 'top' or 'bottom'.</td></tr>
      <tr><td>LoadingIndicatorPosition</td><td>VerticalAlignment</td><td>VerticalAlignment.Center</td><td>Sets the position of the loading indicator.</td></tr>
      <tr><td>Locale</td><td>string</td><td>&quot;en&quot;</td><td>Sets or gets the locale. Used in conjunction with the property <strong>messages</strong>.</td></tr>
      <tr><td>LocalizeFormatFunction</td><td>object</td><td>N/A</td><td>Callback, related to localization module. </td></tr>
      <tr><td>Messages</td><td>object</td><td>N/A</td><td>Sets or gets an object specifying strings used in the widget that can be localized. Used in conjunction with the property <strong>locale</strong>.</td></tr>
      <tr><td>Overflow</td><td>Overflow</td><td>Overflow.Auto</td><td>Specifies what should happen with the scrollbar (or scroll buttons in scrollMode: 'scrollButtons') if content overflows the element's box.</td></tr>
      <tr><td>Readonly</td><td>bool</td><td>false</td><td>If the element is readonly, users cannot interact with it.</td></tr>
      <tr><td>RightToLeft</td><td>bool</td><td>false</td><td>Determines whether the right-to-left support is enabled.</td></tr>
      <tr><td>ScrollMode</td><td>TreeScrollMode</td><td>TreeScrollMode.Scrollbar</td><td>Determines whether to use scrollbar or scrollButtons when content overflows an element's box.</td></tr>
      <tr><td>SelectedIndexes</td><td>string[]</td><td>new string[]{}</td><td>An array with indexes (paths) of the selected items.</td></tr>
      <tr><td>SelectionDisplayMode</td><td>TreeSelectionDisplayMode</td><td>TreeSelectionDisplayMode.Row</td><td>Determines the way selected items are highlighted.</td></tr>
      <tr><td>SelectionMode</td><td>TreeSelectionMode</td><td>TreeSelectionMode.One</td><td>Determines selection mode.</td></tr>
      <tr><td>SelectionTarget</td><td>TreeSelectionTarget</td><td>TreeSelectionTarget.All</td><td>Determines whether jqx-tree-items-groups can be selected.</td></tr>
      <tr><td>ShowLines</td><td>bool</td><td>false</td><td>Shows or hides lines, displaying the relation between elements in group.</td></tr>
      <tr><td>ShowRootLines</td><td>bool</td><td>false</td><td>Shows or hides lines starting from the root node. Enabled when 'showLines' is set to true.</td></tr>
      <tr><td>Sort</td><td>object</td><td>N/A</td><td>Sets user-defined function about custom sorting.</td></tr>
      <tr><td>SortDirection</td><td>TreeSortDirection</td><td>TreeSortDirection.Asc</td><td>Determines sort direction - ascending or descending.</td></tr>
      <tr><td>Sorted</td><td>bool</td><td>false</td><td>Enables or disables sorting.</td></tr>
      <tr><td>Theme</td><td>string</td><td>&quot;&quot;</td><td>Sets or gets the element's visual theme.</td></tr>
      <tr><td>ToggleElementPosition</td><td>Position</td><td>Position.Near</td><td>Determines togle element (arrow) position.</td></tr>
      <tr><td>ToggleMode</td><td>TreeToggleMode</td><td>TreeToggleMode.Dblclick</td><td>Determines the way to toggle jqx-tree-items-groups.</td></tr>
      <tr><td>Unfocusable</td><td>bool</td><td>false</td><td>Sets or gets if the element can be focused.</td></tr>
      <tr><td>ValueMember</td><td>string</td><td>&quot;value&quot;</td><td>Determines the field in the data source that corresponds to an item's <strong>value</strong>.</td></tr>
  </table>
  <h2 id="TreeMethods"><a id="Tree_methods" href="javascript: void(0)" class="anchor"><strong>Tree</strong> Methods</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Arguments</th><th>Description</th></tr>
      <tr><td>AddAfter</td><td>void</td><td>object item, string  sibling</td><td>Adds an item after another item as a sibling.</td></tr>
      <tr><td>AddBefore</td><td>void</td><td>object item, string  sibling</td><td>Adds an item before another item as a sibling.</td></tr>
      <tr><td>AddTo</td><td>void</td><td>object item, string  parent</td><td>Adds an item as the last child of a parent item.</td></tr>
      <tr><td>ClearSelection</td><td>void</td><td>N/A</td><td>Clears selection.</td></tr>
      <tr><td>CollapseAll</td><td>void</td><td>bool animation</td><td>Collapses all smart-tree-items-groups.</td></tr>
      <tr><td>CollapseItem</td><td>void</td><td>object item, bool animation</td><td>Collapses a smart-tree-items-group.</td></tr>
      <tr><td>EnsureVisible</td><td>void</td><td>object item</td><td>Makes sure an item is visible by scrolling to it.</td></tr>
      <tr><td>ExpandAll</td><td>void</td><td>string animation</td><td>Expands all smart-tree-items-groups.</td></tr>
      <tr><td>ExpandItem</td><td>void</td><td>object item, bool animation</td><td>Expands single smart-tree-items-group.</td></tr>
      <tr><td>Filter</td><td>void</td><td>string filterQuery</td><td>Applies filter to the Tree.</td></tr>
      <tr><td>GetItem</td><td>object</td><td>string id</td><td>Gets an item by its id or numeric path.</td></tr>
      <tr><td>GetState</td><td>object</td><td>N/A</td><td>Returns SmartTree's state</td></tr>
      <tr><td>Insert</td><td>void</td><td>object item, string path</td><td>Inserts an item at the given position.</td></tr>
      <tr><td>LoadState</td><td>void</td><td>object state</td><td>Loads the Tree's state.</td></tr>
      <tr><td>MoveDown</td><td>void</td><td>object item</td><td>Moves an item down relative to its siblings.</td></tr>
      <tr><td>MoveUp</td><td>void</td><td>object item</td><td>Moves an item up relative to its siblings.</td></tr>
      <tr><td>RemoveItem</td><td>void</td><td>object item</td><td>Removes an item.</td></tr>
      <tr><td>SaveState</td><td>object</td><td>N/A</td><td>Saves the Tree's state.</td></tr>
      <tr><td>Select</td><td>void</td><td>object item</td><td>Selects an item.</td></tr>
      <tr><td>Unselect</td><td>void</td><td>object item</td><td>Unselects an item.</td></tr>
      <tr><td>UpdateItem</td><td>void</td><td>object item, object newItem</td><td>Updates an item.</td></tr>
  </table>
  <h2 id="TreeEvents"><a id="Tree_events" href="javascript: void(0)" class="anchor"><strong>Tree</strong> Events</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Description</th><th>Event Detail</th></tr>
      <tr><td>OnChange</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when selection in jqx-tree is changed.</td><td>dynamic item, dynamic oldSelectedIndexes, dynamic selectedIndexes</td></tr>
      <tr><td>Changed</td><td>event TreeChangedEventHandler</td><td>This event is triggered when selection in jqx-tree is changed.</td><td>TreeChangedEventArgs</td></tr>
      <tr><td>OnCollapse</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when a jqx-tree-items-group is collapsed.</td><td>dynamic item, string label, dynamic path, dynamic value, dynamic children</td></tr>
      <tr><td>Collapsed</td><td>event TreeCollapsedEventHandler</td><td>This event is triggered when a jqx-tree-items-group is collapsed.</td><td>TreeCollapsedEventArgs</td></tr>
      <tr><td>OnCollapsing</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when a jqx-tree-items-group is about to be collapsed. The collapsing operation can be canceled by calling event.preventDefault() in the event handler function.</td><td>dynamic item, string label, dynamic path, dynamic value, dynamic children</td></tr>
      <tr><td>Collapsing</td><td>event TreeCollapsingEventHandler</td><td>This event is triggered when a jqx-tree-items-group is about to be collapsed. The collapsing operation can be canceled by calling event.preventDefault() in the event handler function.</td><td>TreeCollapsingEventArgs</td></tr>
      <tr><td>OnDragEnd</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when a jqx-tree-item/jqx-tree-items-group is dropped somewhere in the DOM. The dragging operation can be canceled by calling event.preventDefault() in the event handler function.</td><td>dynamic container, dynamic data, dynamic item, dynamic items, dynamic originalEvent, dynamic previousContainer, dynamic target</td></tr>
      <tr><td>DragEnded</td><td>event TreeDragEndedEventHandler</td><td>This event is triggered when a jqx-tree-item/jqx-tree-items-group is dropped somewhere in the DOM. The dragging operation can be canceled by calling event.preventDefault() in the event handler function.</td><td>TreeDragEndedEventArgs</td></tr>
      <tr><td>OnDragging</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when a jqx-tree-item/jqx-tree-items-group is being dragged.</td><td>dynamic data, dynamic item, dynamic items, dynamic originalEvent</td></tr>
      <tr><td>Dragging</td><td>event TreeDraggingEventHandler</td><td>This event is triggered when a jqx-tree-item/jqx-tree-items-group is being dragged.</td><td>TreeDraggingEventArgs</td></tr>
      <tr><td>OnDragStart</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when a dragging operation is started in jqx-tree. The dragging operation can be canceled by calling event.preventDefault() in the event handler function.</td><td>dynamic container, dynamic data, dynamic item, dynamic items, dynamic originalEvent, dynamic previousContainer</td></tr>
      <tr><td>DragStarted</td><td>event TreeDragStartedEventHandler</td><td>This event is triggered when a dragging operation is started in jqx-tree. The dragging operation can be canceled by calling event.preventDefault() in the event handler function.</td><td>TreeDragStartedEventArgs</td></tr>
      <tr><td>OnExpand</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when a jqx-tree-items-group is expanded.</td><td>dynamic item, string label, dynamic path, dynamic value, dynamic children</td></tr>
      <tr><td>Expanded</td><td>event TreeExpandedEventHandler</td><td>This event is triggered when a jqx-tree-items-group is expanded.</td><td>TreeExpandedEventArgs</td></tr>
      <tr><td>OnExpanding</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when a jqx-tree-items-group is about to be expanded. The expanding operation can be canceled by calling event.preventDefault() in the event handler function.</td><td>dynamic item, string label, dynamic path, dynamic value, dynamic children</td></tr>
      <tr><td>Expanding</td><td>event TreeExpandingEventHandler</td><td>This event is triggered when a jqx-tree-items-group is about to be expanded. The expanding operation can be canceled by calling event.preventDefault() in the event handler function.</td><td>TreeExpandingEventArgs</td></tr>
      <tr><td>OnScrollBottomReached</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the Tree has been scrolled to the bottom.</td><td>N/A</td></tr>
      <tr><td>ScrollBottomReached</td><td>event TreeScrollBottomReachedEventHandler</td><td>This event is triggered when the Tree has been scrolled to the bottom.</td><td>TreeScrollBottomReachedEventArgs</td></tr>
      <tr><td>OnScrollTopReached</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the Tree has been scrolled to the top.</td><td>N/A</td></tr>
      <tr><td>ScrollTopReached</td><td>event TreeScrollTopReachedEventHandler</td><td>This event is triggered when the Tree has been scrolled to the top.</td><td>TreeScrollTopReachedEventArgs</td></tr>
      <tr><td>OnSwipeleft</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the user swipes to the left inside the Tree.</td><td>N/A</td></tr>
      <tr><td>SwipedLeft</td><td>event TreeSwipedLeftEventHandler</td><td>This event is triggered when the user swipes to the left inside the Tree.</td><td>TreeSwipedLeftEventArgs</td></tr>
      <tr><td>OnSwiperight</td><td>EventCallback&lt;Event&gt;</td><td>This event is triggered when the user swipes to the right inside the Tree.</td><td>N/A</td></tr>
      <tr><td>SwipeRight</td><td>event TreeSwipeRightEventHandler</td><td>This event is triggered when the user swipes to the right inside the Tree.</td><td>TreeSwipeRightEventArgs</td></tr>
    </table>
</div>
