@namespace Smart.Blazor
<div>

  <h2 id="ValidatorProperties"><a id="Validator_properties" href="javascript: void(0)" class="anchor"><strong>Validator</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Rules</td><td>IEnumerable&lt;IValidatorRule&gt;</td><td>N/A</td><td></td></tr>
      <tr><td>ValidationSummarySelector</td><td>string</td><td>&quot;&quot;</td><td>A valid CSS selector of an element on the page to be used as a container for validation error messages.</td></tr>
  </table>
  <h2 id="ValidatorMethods"><a id="Validator_methods" href="javascript: void(0)" class="anchor"><strong>Validator</strong> Methods</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Arguments</th><th>Description</th></tr>
      <tr><td>Reset</td><td>void</td><td>N/A</td><td>Clears the error messages.</td></tr>
      <tr><td>Validate</td><td>void</td><td>Action&lt;object&gt; result</td><td>Opens the dropDown.</td></tr>
  </table>
  <h2 id="ValidatorRuleProperties"><a id="ValidatorRule_properties" href="javascript: void(0)" class="anchor"><strong>ValidatorRule</strong> Properties</a></h2>
  <table class="table">
      <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
      <tr><td>Action</td><td>string</td><td>&quot;&quot;</td><td>A comma-separated list of events to validate the input(s) on.</td></tr>
      <tr><td>ComparisonTarget</td><td>object</td><td>&quot;&quot;</td><td>A callback function whose result to compare to the input value by the <strong>comparisonType</strong> in order to show the validation message. Applicable when <strong>type</strong> is <em>'compare'</em>.</td></tr>
      <tr><td>ComparisonType</td><td>string</td><td>&quot;==&quot;</td><td>An operator to compare the input value by with the result of <strong>comparisonTarget</strong> in order to show the validation message. Applicable when <strong>type</strong> is <em>'compare'</em>.</td></tr>
      <tr><td>Input</td><td>string</td><td>&quot;&quot;</td><td>A valid CSS selector of the input(s) to validate.</td></tr>
      <tr><td>Max</td><td>object</td><td>&quot;&quot;</td><td>The max value of an input when the rule <string>type</string> is <em>'stringLength'</em> or the max number of characters in the input's value when the rule <string>type</string> is <em>'range'</em>.</td></tr>
      <tr><td>Message</td><td>string</td><td>&quot;&quot;</td><td>A message to display on focus of the input and in the validation summary if the input's value is not valid.</td></tr>
      <tr><td>Min</td><td>object</td><td>&quot;&quot;</td><td>The min value of an input when the rule <string>type</string> is <em>'stringLength'</em> or the min number of characters in the input's value when the rule <string>type</string> is <em>'range'</em>.</td></tr>
      <tr><td>Pattern</td><td>string</td><td>&quot;&quot;</td><td>A regular expression the input's value must match when the rule <string>type</string> is <em>'pattern'</em>.</td></tr>
      <tr><td>Type</td><td>ValidatorRuleType</td><td>ValidatorRuleType.Required</td><td>The type of validation the rule makes.</td></tr>
      <tr><td>ValidationCallback</td><td>object</td><td>&quot;&quot;</td><td>A callback function to validate the input's value by when the rule's <strong>type</strong> is <em>'custom'</em>.</td></tr>
    </table>
</div>
